<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>建诺商城</title>
<meta name="keywords" content="建诺商城，建诺，网购，购物" />
<meta name="description" content="建诺商城，中国进口网购网站" />
<meta content="all" name="robots" />
<meta name="googlebot" content="all" />
<meta name="baiduspider" content="all" />
<link href="../static/css/global.css" rel="stylesheet" type="text/css" />
<link href="../static/css/index.css" rel="stylesheet" type="text/css" />
<link href="../static/css/personalCenter.css" rel="stylesheet" type="text/css" />
<link href="../static/layui/css/layui.css" rel="stylesheet" type="text/css" />
<script src="../static/js/jquery.min.js" type="text/javascript"><!--公共jQ框架，01滚动公共--></script>
<script src="../static/js/tab.js" type="text/javascript"><!--公共jQ框架，01滚动公共--></script>
<script src="../static/js/laydate/laydate.js" type="text/javascript"><!--公共jQ框架，01滚动公共--></script>



</head>
<!--[if lte IE 6]>
<style type="text/css">
body { behavior:url("css/csshover.htc"); }
</style>
<![endif]-->
<body>

<!-- 头部栏开始--> 
<div id="top">
	<div class="header">
    	<p class="fl">欢迎来到建诺商城！  <a href="personalCenter.html">159***6694</a> <span>&nbsp;|&nbsp;</span> <a href="#"><strong>注册</strong></a></p> 
      <div class="topmenu fr">
            <ul class="menu">
                <li style="background:none;position:relative; z-index:10;"> 
                	<a href="#" class="arrow">我的账户</a>
                    <ul class="top_submenu">
                            <li><a href="personalCenter.html">订单中心</a></li>
                            <li><a href="#">物流跟踪</a></li>
                            <li><a href="#">我的优惠券</a></li>
                    </ul>
               </li>
               <li class="phone"><a href="#">服务专线：</a><font style="font-family:Arial; color:#c60000;"><strong>400-888-1991</strong></font></li>                          
            </ul> 
   	  </div>
  </div>
</div>
<div class="clear"></div>

<!--logo栏开始-->
<div id="logobar">
	<h1 class="fl"><img src="../static/images/logo.png" alt="" /></h1>
    <div class="searchcolumn fl">
    	
         <form>
              <input name="text" type="text" class="search_center fl" onfocus="if(this.value=='请输入要搜索的商品'){this.value=''}" onblur="if(this.value==''){this.value='请输入要搜索的商品'}" value="请输入要搜索的商品"/>
              <input name="" type="button" class="search_right fl" value="搜索" />
         </form>
    </div>
    
	  <div class="shopping fr">
    	<span></span>
        <ul class="sales fr">
        	<li><a href="#">【活动】好记星全新上市送699元</a></li>
            <li><a href="#">【活动】好记星全新上市送699元</a></li>
        </ul>

    </div>
</div>

<!--menu栏开始-->


<!--search栏开始-->
<div id="searchbar">
	<div class="mennubox">
    	<div class="leftmenu fl">
        	<ul>
                <li><a>首页</a></li>
                <li><a>酒类</a></li>
                <li><a>油类</a></li>
                <li><a>食品类</a></li>
                <li><a>今日限时购</a></li>
            	<li><a>新品</a></li>
            </ul>
        </div>
   		<div class="input fl">
        <ul class="chash fr">
       		<li>购物车0件
            	<ul class="car">
                	<li>您的购物车中暂无商品，赶快选择心爱的商品吧！</li>
                </ul>
            </li>
            <li><a href="#">去结算</a></li> 
       </ul> 
     </div>
    </div>
   	  
</div>

<div class="personerBox">
    <div class="leftsidebar">
        <h2>个人中心</h2>
        <ul>
            <li><a href="personalCenter.html">我的订单</a></li>
         
        </ul> 
        <ul>
            <li class="active"><a href="accountSet.html">帐号管理</a></li>
            <li><a href="accountManagement.html">个人资料</a></li>
            <!--<li><a>我的实名认证</a></li>-->
        </ul> 
        <ul>
            <li><a>我收藏的商品</a></li>
         
            <li><a href="evaluate.html">我的评价</a></li>
        </ul>
         <ul>
            <li><a>管理收货地址</a></li>
            <li><a>售后管理</a></li>
        </ul>
    </div>
    <div class="rightcontent">
        <div class="accountcenter">
            <h2>帐号管理</h2>
          
            <div class="basicaccount">
                        <ul>
                            <li><label>会员名：</label><span>12555</span></li>
                            <li><label>登录邮箱：</label>13203250110@163.com<samp>修改</samp></li>
                            <li><label>绑定手机：</label>15923656321<samp>修改</samp></li>
                            <li><label>登录密码：</label>******<input type="hidden" name=""><samp>修改</samp></li>
                            <li><label>支付密码：</label>******<input type="hidden" name=""><samp>修改</samp></li>
                          
                        </ul>
                       
                </div>
        </div>
    </div>
   
</div>
<div class="clear"></div>

<!--底部开始-->
<div class="footer">   
    <div class="service">
        <div class="bottomtop">
            <dl>
                <dt><img src="../static/images/bottom01.png" alt="" /></dt>
                <dd><a href="#" class="title">100%正品</a></dd>
                <dd><a href="#">假一赔十</a></dd>
            </dl>
            <dl>
                <dt><img src="../static/images/bottom02.png" alt="" /></dt>
                <dd><a href="#" class="title">低价保障</a></dd>
                <dd><a href="#">缩减中间环节 确保低价</a></dd>
            </dl>
            <dl>
                <dt><img src="../static/images/bottom03.png" alt="" /></dt>
                <dd><a href="#" class="title">30天无忧退货</a></dd>
                <dd><a href="#">国内退货 售后无忧</a></dd>
            </dl>
            <dl>
                <dt><img src="../static/images/bottom04.png" alt="" /></dt>
                <dd><a href="#" class="title">满88包邮</a></dd>
                <dd><a href="#">部分特殊商品除外</a></dd>
            </dl>
        </div>
      <div class="global">
            <p>全国客服：400 888 1991</p>
            <span>支付方式(9:00-21:00)</span>
            <div class="consult"><img src="../static/images/consult.jpg" alt="" /> <a href="#"><img src="../static/images/toushu.jpg" alt="" /></a></div>
        </div>
        <dl>
            <dt></dt>
            <dd><a href="#" class="title">建诺保障</a></dd>
            <dd><a href="#">假一赔十</a></dd>
            <dd><a href="#">廉政监督</a></dd>
          
        </dl>
        <dl>
        	<dt></dt>
            <dd><a href="#" class="title">新手指南</a></dd>
            <dd><a href="#">购物流程</a></dd>
            <dd><a href="#">支付方式</a></dd>
            <dd><a href="#">通关税费</a></dd>
            <dd><a href="#">其他问题</a></dd>
        </dl>
        <dl>
        	<dt></dt>
            <dd><a href="#" class="title">关于配送</a></dd>
            <dd><a href="#">配送方式</a></dd>
            <dd><a href="#">配送流程</a></dd>
            <dd><a href="#">物流跟踪</a></dd>
        </dl>
        <dl>
        	<dt></dt>
            <dd><a href="#" class="title">售后服务</a></dd>
            <dd><a href="#">品质保证</a></dd>
            <dd><a href="#">回收条款</a></dd>
            <dd><a href="#">15天退货承诺</a></dd>
        </dl>
        <dl>
        	<dt></dt>
            <dd><a href="#" class="title">客服中心</a></dd>
            <dd><a href="#">退货政策</a></dd>
            <dd><a href="#">退货流程</a></dd>
            <dd><a href="#">退款说明</a></dd>
            <dd><a href="#">联系客服</a></dd>
        </dl>
        <dl class="last">
        	<dt></dt>
            <dd><a href="#" class="title">关于我们</a></dd>
            <dd><a href="#">权威认证</a></dd>
            <dd><a href="#">招聘信息</a></dd>
            <dd><a href="#">联系我们</a></dd>
        </dl>
    </div>
    <div class="clear"></div>
    <div id="bottom">
    	
        <div class="footnav">
        	  <a href="#">关于建诺网</a><span>|</span>
            
              <a href="#">服务条款</a><span>|</span>
              <a href="#">广告服务</a><span>|</span>
              <a href="#">企业招聘</a><span>|</span>
              <a href="#">客服中心</a><span>|</span>
    		  <a href="#">网站导航</a>
              <p>Copyright © 1998 - 2010 legou.com. All Rights Reserved</p>
              <p>建诺网版权所有</p>
        </div>
    </div>
</div>
<!--QQ滚动广告-->
<div id="buttonFloat">
  
  <a href="#" title="返回主页" class="back"><i class="iconback"></i><samp>主页</samp></a>
  <a href="javascript:window.external.addFavorite('http://www.yousite.com/','站点名称');" title="收藏本站" class="Collection"><i class="iconcoll"></i><samp>收藏</samp></a>
   <a href="shoppingCart.html" title="购物车" class="cash"><i class="iconshopping"></i><samp>购物车</samp><span class="num">29</span></a>
  <a target="_blank" href="http://amos.im.alisoft.com/msg.aw?v=2&uid=51add&site=cntaobao&s=2&charset=utf-8" class="kefu" ><i class="iconkefu"></i><samp>客服</samp></a>
  <a href="#top" title="返回头部" class="toTop"><i class="up"></i><samp>TOP</samp></a>
</div>
<script type="text/javascript">
/*** 滚动公告js ***/
$(function(){
    //单行应用
    var _wrap=$('ul.sales');//定义滚动区域
    var _interval=2000;//定义滚动间隙时间
    var _moving;//需要清除的动画
    _wrap.hover(function(){
        clearInterval(_moving);//当鼠标在滚动区域中时,停止滚动
    },function(){
        _moving=setInterval(function(){
            var _field=_wrap.find('li:first');//此变量不可放置于函数起始处,li:first取值是变化的
            var _h=_field.height();//取得每次滚动高度
            _field.animate({marginTop:-_h+'px'},600,function(){//通过取负margin值,隐藏第一行
                _field.css('marginTop',0).appendTo(_wrap);//隐藏后,将该行的margin值置零,并插入到最后,实现无缝滚动
            })
        },_interval)//滚动间隔时间取决于_interval
    }).trigger('mouseleave');//函数载入时,模拟执行mouseleave,即自动滚动
});
</script>
<script type="text/javascript">
//<![CDATA[
var tips; var theTop = 70/*这是默认高度,越大越往下*/; var old = theTop;
function initFloatTips() {
  tips = document.getElementById('buttonFloat');
  moveTips();
};
function moveTips() {
  var tt=50;
  if (window.innerHeight) {
    pos = window.pageYOffset
  }
  else if (document.documentElement && document.documentElement.scrollTop) {
    pos = document.documentElement.scrollTop
  }
  else if (document.body) {
    pos = document.body.scrollTop;
  } 
  pos=pos-tips.offsetTop+theTop;
  pos=tips.offsetTop+pos/10;
 
  if (pos < theTop) pos = theTop;
  if (pos != old) {
    tips.style.top = pos+"px";
    tt=10;
  //alert(tips.style.top);
  }
 
  old = pos;
  setTimeout(moveTips,tt);
}
//!]]>
initFloatTips();
</script>

<script>
$(".loadimg").click( function(){
	$(".file").click();
})
$(".hoverimg").mouseenter(function(){
	$(".editimg").show();
})
$(".hoverimg").bind('mouseleave',function(){
	$(".editimg").hide();
})
</script>
</body>
</html>
