<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>建诺商城</title>
<meta name="keywords" content="建诺商城，建诺，网购，购物" />
<meta name="description" content="建诺商城，中国进口网购网站" />
<meta content="all" name="robots" />
<meta name="googlebot" content="all" />
<meta name="baiduspider" content="all" />
<link href="../static/css/global.css" rel="stylesheet" type="text/css" />
<link href="../static/css/index.css" rel="stylesheet" type="text/css" />

<script src="../static/js/jquery.min.js" type="text/javascript"><!--公共jQ框架，01滚动公共--></script>
<script language=JavaScript type="text/javascript" src="../static/js/tab.js"></script>
<script language=JavaScript type="text/javascript" src="../static/js/scroll.js"></script>


</head>
<!--[if lte IE 6]>
<style type="text/css">
body { behavior:url("css/csshover.htc"); }
</style>
<![endif]-->
<body>

<!-- 头部栏开始--> 
<div id="top">
	<div class="header">
    	<p class="fl">欢迎来到建诺商城！  <a href="#">登录</a> <span>&nbsp;|&nbsp;</span> <a href="#"><strong>注册</strong></a></p> 
      <div class="topmenu fr">
            <ul class="menu">
                <li style="background:none;position:relative; z-index:10;"> 
                	<a href="#" class="arrow">我的账户</a>
                    <ul class="top_submenu">
                            <li><a href="personalCenter.html">订单中心</a></li>
                            <li><a href="#">物流跟踪</a></li>
                            <li><a href="#">我的优惠券</a></li>
                    </ul>
               </li>
               <li class="phone"><a href="#">服务专线：</a><font style="font-family:Arial; color:#c60000;"><strong>400-888-1991</strong></font></li>                          
            </ul> 
   	  </div>
  </div>
</div>
<div class="clear"></div>
<!--<div class="layout" id="hideAd" style="height:90px;width:980px; margin:0 auto; overflow:hidden;"><a href="#" target="_blank"><img src="../static/images/adbanner.jpg" border="0"></a>
<div style="position:relative;top:-23px;right:0;float:right"><a href="javascript:void(0)" onclick="document.getElementById('hideAd').style.display='none'"><img src="../static/images/close2.gif" width="21" height="20" border="0"></a></div></div>
-->
<!--logo栏开始-->
<div id="logobar">
	<h1 class="fl"><img src="../static/images/logo.png" alt="" /></h1>
    <div class="searchcolumn fl">
    	
         <form>
              <input name="text" type="text" class="search_center fl" onfocus="if(this.value=='请输入要搜索的商品'){this.value=''}" onblur="if(this.value==''){this.value='请输入要搜索的商品'}" value="请输入要搜索的商品"/>
              <input name="" type="button" class="search_right fl" value="搜索" />
         </form>
    </div>
    
	  <div class="shopping fr">
    	<span>最新促销</span>
        <ul class="sales fr">
        	<li><a href="#">【活动】好记星全新上市送699元</a></li>
            <li><a href="#">【活动】好记星全新上市送699元</a></li>
        </ul>

    </div>
</div>

<!--menu栏开始-->


<!--search栏开始-->
<div id="searchbar">
	<div class="mennubox">
    	<div class="leftmenu fl">
        	<ul>
                <li><a>首页</a></li>
                <li><a>酒类</a></li>
                <li><a>油类</a></li>
                <li><a>食品类</a></li>
                <li><a>今日限时购</a></li>
            	<li><a>新品</a></li>
            	<li><a href="merchant_step.html">商家入驻</a></li>
            </ul>
        </div>
   		<div class="input fl">
        <ul class="chash fr">
       		<li><img src="../static/images/cashhover.png" />购物车<b>0</b>件
            	<ul class="car">
                	<li>您的购物车中暂无商品，赶快选择心爱的商品吧！</li>
                </ul>
            </li>
            <li class="cash"><a href="shoppingCart.html" target="_blank">去结算<img src="../static/images/updown.png" /></a></li> 
       </ul> 
     </div>
    </div>
   	  
</div>

<!--banner-->
<div class="bannerContainer">
  <div id="playBox">
    <div class="pre"></div>
    <div class="next"></div>
    <div class="smalltitle">
      <ul>
        <li class="thistitle"></li>
        <li></li>
       <!--  <li></li>
        <li></li>
        <li></li>
        <li></li> -->
      </ul>
    </div>
    <ul class="oUlplay">
       <li><a href="###"><img src="../static/images/pic1.jpg" /></a></li>
       <li><a href="###" ><img src="../static/images/pic2.jpg" /></a></li>
     
    </ul>
 <div class="bannerbox">
        <ul class="rightPic fr">
            <li><img src="../static/images/pic01.png"></li>
            <li><img src="../static/images/pic02.png"></li>
            <li><img src="../static/images/pic01.png"></li>
        </ul> 
         <ul class="rightPic fl">
            <li><img src="../static/images/pic01.png"></li>
            <li><img src="../static/images/pic02.png"></li>
            <li><img src="../static/images/pic01.png"></li>
        </ul>

    </div>
  </div>

  </div>

   
</div>
<!--第一屏开始-->
<div id="content">
	<div class="newproduct fl">
        <div class="publictitle">
          <h2>新品上市</h2>                    
         
       </div>
        <div class="promc">
            <div class="mc">
                <ul>
                    <li>
                        <img src="../static/images/1.jpg" width="160" height="157" />
                        <p class="proname"><a href="#">印尼进口丽芝士nabati纳宝帝奶酪威化饼干200g零食</a></p>
                        <p class="price">热卖价:<strong>￥69.00</strong></p>
                    </li>
                    <li>
                        <img src="../static/images/2.jpg" width="160" height="157" />
                        <p class="proname"><a href="#">德芙士力架全家桶巧克力460g桶装 休闲零食横扫饥饿</a></p>
                        <p class="price">热卖价:￥<strong>129.00</strong></p>
                    </li>
                    <li>
                        <img src="../static/images/3.jpg" width="160" height="157" />
                        <p class="proname"><a href="#">进口上好佳咖啡味+巧克力味+奶酪味巧滋圈120g/包*3</a></p>
                        <p class="price">热卖价:￥<strong>99.00</strong></p>
                    </li>
                    <li>
                        <img src="../static/images/4.jpg" width="160" height="157" />
                        <p class="proname"><a href="#">奥地利原装进口德宝百花蜂蜜500g/瓶蜂蜜冲饮</a></p>
                        <p class="price">热卖价:￥<strong>99.00</strong></p>
                    </li>
                   <li>
                        <img src="../static/images/5.jpg" width="160" height="157" />
                        <p class="proname"><a href="#">奥地利原装进口德宝森林百花蜂蜜300g/瓶蜂蜜冲饮</a></p>
                        <p class="price">热卖价:<strong>￥69.9</strong></p>
                    </li>
                    <li>
                        <img src="../static/images/6.jpg" width="160" height="157" />
                        <p class="proname"><a href="#">马来西亚进口食品茱蒂丝纯花生酱三明治饼干540g礼盒</a></p>
                        <p class="price">热卖价:￥<strong>39.9</strong></p>
                    </li>
                    <li>
                        <img src="../static/images/7.jpg" width="160" height="157" />
                        <p class="proname"><a href="#">Julies马来西亚进口饼干茱蒂丝雷蒙德乳酪夹心180g</a></p>
                        <p class="price">热卖价:￥<strong>16.8</strong></p>
                    </li>
                    <li>
                        <img src="../static/images/8.jpg" width="160" height="157" />
                        <p class="proname"><a href="#">鲁花压榨葵花仁油 5L 剥壳去皮 物理压榨食用油</a></p>
                        <p class="price">热卖价:￥<strong>90.9</strong></p>
                    </li>
                      <li>
                        <img src="../static/images/1.jpg" width="160" height="157" />
                        <p class="proname"><a href="#">奥地利原装进口德宝百花蜂蜜500g/瓶蜂蜜冲饮</a></p>
                        <p class="price">热卖价:￥<strong>99.00</strong></p>
                    </li>
                   <li>
                        <img src="../static/images/3.jpg" width="160" height="157" />
                        <p class="proname"><a href="#">奥地利原装进口德宝森林百花蜂蜜300g/瓶蜂蜜冲饮</a></p>
                        <p class="price">热卖价:<strong>￥69.9</strong></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="notic fr">
    	<div class="mart">
    	 	
            <p class="noticetitle">
                <a id="one1" onclick="setTab('one',1,2)" class="hover1">商城公告</a>
                <a id="one2" onclick="setTab('one',2,2)">促销信息</a>
            </p>
         <img src="../static/images/notice.jpg" alt="" />
            <ul class="onsales" id="con_one_1">
               
                <li><a href="#">支付宝购物满100送30红包</a></li> 
                <li><a href="#">用工行网银支付满88送卡包</a></li> 
                <li><a href="#">薇茉波西米亚风 加1元多一件</a></li>
            </ul>
            <ul id="con_one_2" class="onsales dis">
              <li>[秒杀]<a href="#">明星款1.3折起2.5折封顶</a></li>
              <li>[疯抢]<a href="#">18款气质衬衫3.6折拿下</a></li>
              <li>[新品]<a href="#">89元抢购韩版气质连衣裙</a></li>
             
            </ul>
          
    	</div>
        <div class="imgpicone" id="smallscroll"><a href=""><img src="../static/images/noticeimg.jpg" alt="" /></a><a href=""><img src="../static/images/noticeimg2.jpg" alt="" /></a></div>
        <div class="imgpicone"><a href=""><img src="../static/images/noticeimg2.jpg" alt="" /></a></div>

    </div>
</div>
<script language="javascript">
new $o.slide("smallscroll");

</script>
<!--第二屏开始-->


<!--adbanner开始-->
<div class="adbanner">
<ul>
    <li class="color1"><img src="../static/images/drinkimg.png" alt="" /></li>
    <li class="color2"><img src="../static/images/drinkimg.png" alt="" /></li>
    <li class="color3"><img src="../static/images/drinkimg.png" alt="" /></li>
</ul>
    
</div>
<!-- 清仓 -->
<div id="clearance">
    <div class="drinkproduct fl">
        <div class="cleartitle">
          <h2>今日限时购</h2>                    
          <span><a href=""><samp>今日限时购</samp></a></span>
      </div>
        <div class="proclear">
            
            <div class="proclearance">
                <dl>
                    <dt><img src="../static/images/10.jpg" width="160" height="157" /></dt>
                    <dd  class="title">口味绵长，唇齿留香</dd>
                    <dd>圣芝红酒 法国原瓶进口半干赤霞珠红葡萄酒 750ml</dd>
                    <dd class="price"><strong>¥39.9</strong><s>¥69.9</s><span class="fr">剩余：11255件</span></dd>
                    <dd><samp>立即抢购</samp></dd>
                </dl>
                <dl>
                    <dt><img src="../static/images/4.jpg" width="160" height="157" /></dt>
                    <dd  class="title">口味绵长，唇齿留香</dd>
                    <dd>智利进口红酒 卡内奇经典赤霞珠干红葡萄酒750ml/瓶</dd>
                     <dd class="price"><strong>¥39.9</strong><s>¥69.9</s><span class="fr">剩余：11255件</span></dd>
                    <dd><samp>立即抢购</samp></dd>
                </dl>
                 <dl>
                    <dt><img src="../static/images/3.jpg" width="160" height="157" /></dt>
                    <dd  class="title">口味绵长，唇齿留香</dd>
                    <dd>法国进口CASTEL卡柏莱珍藏干红葡萄酒红酒单支礼盒装</dd>
                    <dd class="price"><strong>¥39.9</strong><s>¥69.9</s><span class="fr">剩余：11255件</span></dd>
                    <dd><samp>立即抢购</samp></dd>
                </dl>
                <dl>
                    <dt><img src="../static/images/1.jpg" width="160" height="157" /></dt>
                    <dd  class="title">口味绵长，唇齿留香</dd>
                    <dd>智利原瓶进口红酒 卡内奇赤霞珠双支礼盒送醒酒器</dd>
                     <dd class="price"><strong>¥39.9</strong><s>¥69.9</s><span class="fr">剩余：11255件</span></dd>
                    <dd><samp>立即抢购</samp></dd>
                </dl>
                
            </div>
            <div class="rightclear"><a href=""><img src="../static/images/clearimg.jpg"></a></div>
        </div>
      
    </div>

</div>
<div class="clear"></div>
<div class="adbanner">
<ul>
    <li class="color1"><img src="../static/images/drinkimg.png" alt="" /></li>
    <li class="color2"><img src="../static/images/drinkimg.png" alt="" /></li>
    <li class="color3"><img src="../static/images/drinkimg.png" alt="" /></li>
</ul>
    
</div>
<!--第三屏开始-->
<div id="newbar">
	<div class="drinkproduct fl">
    	<div class="drinktitle">
   		  <h2>酒类</h2>                    
       	  <span><a href="#">西班牙</a> <a href="#">法国</a> <a href="#">智利</a> <a href="#">格鲁吉亚</a><a href=""><samp>酒类</samp></a></span>
      </div>

      	<div class="prodrink">
            <div class="leftdrink" id="movePic1"><a href=""><img src="../static/images/drink.jpg"></a><a href=""><img src="../static/images/oilimg.jpg"></a></div>

        	<div class="pro">
            	<ul>
                	<li>
                    	<img src="../static/images/10.jpg" width="160" height="157" />
                    	<p class="proname"><a href="#">圣芝红酒 法国原瓶进口半干赤霞珠红葡萄酒 750ml</a></p>
                        <p class="price">热卖价:<strong>￥39.9</strong></p>
                    </li>
                    <li>
                    	<img src="../static/images/11.jpg" width="160" height="157" />
                    	<p class="proname"><a href="#">智利进口红酒 卡内奇经典赤霞珠干红葡萄酒750ml/瓶</a></p>
                        <p class="price">热卖价:￥<strong>59.00</strong></p>
                    </li>
                    <li>
                    	<img src="../static/images/12.jpg" width="160" height="157" />
                    	<p class="proname"><a href="#">法国进口CASTEL卡柏莱珍藏干红葡萄酒红酒单支礼盒装</a></p>
                        <p class="price">热卖价:￥<strong>118.00</strong></p>
                    </li>
                    <li>
                    	<img src="../static/images/13.jpg" width="160" height="157" />
                    	<p class="proname"><a href="#">智利原瓶进口红酒 卡内奇赤霞珠双支礼盒送醒酒器</a></p>
                        <p class="price">热卖价:￥<strong>99.00</strong></p>
                    </li>
                   <li>
                    	<img src="../static/images/14.jpg" width="160" height="157" />
                    	<p class="proname"><a href="#">法国进口红酒 葛雷昂干红葡萄酒单支AOP750ml/瓶</a></p>
                        <p class="price">热卖价:<strong>￥99.00</strong></p>
                    </li>
                    <li>
                    	<img src="../static/images/15.jpg" width="160" height="157" />
                    	<p class="proname"><a href="#">奥兰西班牙进口红酒整箱金标干红葡萄酒6支装进口酒</a></p>
                        <p class="price">热卖价:￥<strong>209.00</strong></p>
                    </li>
                   <li>
                        <img src="../static/images/16.jpg" width="160" height="157" />
                        <p class="proname"><a href="#">法国原瓶进口红酒 柏梭干红葡萄酒单支750ml入门级</a></p>
                        <p class="price">热卖价:￥<strong>39.00</strong></p>
                    </li>
                    <li>
                        <img src="../static/images/17.jpg" width="160" height="157" />
                        <p class="proname"><a href="#">拉菲 智利原瓶红酒巴斯克花园葡萄酒礼盒装750ml*2</a></p>
                        <p class="price">热卖价:￥<strong>259.00</strong></p>
                    </li>
                     <li>
                        <img src="../static/images/12.jpg" width="160" height="157" />
                        <p class="proname"><a href="#">法国进口CASTEL卡柏莱珍藏干红葡萄酒红酒单支礼盒装</a></p>
                        <p class="price">热卖价:￥<strong>118.00</strong></p>
                    </li>
                    <li>
                        <img src="../static/images/13.jpg" width="160" height="157" />
                        <p class="proname"><a href="#">智利原瓶进口红酒 卡内奇赤霞珠双支礼盒送醒酒器</a></p>
                        <p class="price">热卖价:￥<strong>99.00</strong></p>
                    </li>
                </ul>
            </div>
        </div>
      
    </div>

</div>

<div class="clear"></div>
<div class="adbanner">
<ul>
    <li class="color1"><img src="../static/images/drinkimg.png" alt="" /></li>
    <li class="color2"><img src="../static/images/drinkimg.png" alt="" /></li>
    <li class="color3"><img src="../static/images/drinkimg.png" alt="" /></li>
</ul>
    
</div>

<!--第四屏开始-->
<div id="salesbar">
    <div class="drinkproduct fl">
        <div class="oiltitle">
          <h2>油类</h2>                    
          <span><a href="#">葵花籽油</a> <a href="#">芥花籽油</a> <a href=""><samp>油类</samp></a></span>
      </div>
        <div class="prodrink">
 <div class="leftdrink" id="smallscroll4"><a href=""><img src="../static/images/oilimg.jpg"></a><a href=""><img src="../static/images/drink.jpg"></a></div>

            <div class="pro">
                <ul>
                    <li>
                        <img src="../static/images/1.jpg" width="160" height="157" />
                        <p class="proname"><a href="#">迪尔马奇磨白直筒纯棉牛仔裤</a></p>
                        <p class="price">热卖价:<strong>￥99.00</strong></p>
                    </li>
                    <li>
                        <img src="../static/images/5.jpg" width="160" height="157" />
                        <p class="proname"><a href="#">Versace范思哲宝贝粉牛仔香水50ml</a></p>
                        <p class="price">热卖价:￥<strong>129.00</strong></p>
                    </li>
                    <li>
                        <img src="../static/images/3.jpg" width="160" height="157" />
                        <p class="proname"><a href="#">联想A520 3G手机！女士购机首选！</a></p>
                        <p class="price">热卖价:￥<strong>1199.00</strong></p>
                    </li>
                    <li>
                        <img src="../static/images/7.jpg" width="160" height="157" />
                        <p class="proname"><a href="#">LG 32LM3100-CC 32英寸3DLE</a></p>
                        <p class="price">热卖价:￥<strong>2788.00</strong></p>
                    </li>
                   <li>
                        <img src="../static/images/2.jpg" width="160" height="157" />
                        <p class="proname"><a href="#">迪尔马奇磨白直筒纯棉牛仔裤</a></p>
                        <p class="price">热卖价:<strong>￥99.00</strong></p>
                    </li>
                    <li>
                        <img src="../static/images/6.jpg" width="160" height="157" />
                        <p class="proname"><a href="#">Versace范思哲宝贝粉牛仔香水50ml</a></p>
                        <p class="price">热卖价:￥<strong>129.00</strong></p>
                    </li>
                   <li>
                        <img src="../static/images/4.jpg" width="160" height="157" />
                        <p class="proname"><a href="#">Versace范思哲宝贝粉牛仔香水50ml</a></p>
                        <p class="price">热卖价:￥<strong>129.00</strong></p>
                    </li>
                    <li>
                        <img src="../static/images/8.jpg" width="160" height="157" />
                        <p class="proname"><a href="#">联想A520 3G手机！女士购机首选！</a></p>
                        <p class="price">热卖价:￥<strong>1199.00</strong></p>
                    </li>
                    <li>
                        <img src="../static/images/4.jpg" width="160" height="157" />
                        <p class="proname"><a href="#">Versace范思哲宝贝粉牛仔香水50ml</a></p>
                        <p class="price">热卖价:￥<strong>129.00</strong></p>
                    </li>
                    <li>
                        <img src="../static/images/3.jpg" width="160" height="157" />
                        <p class="proname"><a href="#">联想A520 3G手机！女士购机首选！</a></p>
                        <p class="price">热卖价:￥<strong>1199.00</strong></p>
                    </li>
                </ul>
            </div>
        </div>
      
    </div>
</div>
<div class="clear"></div>
<div class="adbanner">
<ul>
    <li class="color1"><img src="../static/images/drinkimg.png" alt="" /></li>
    <li class="color2"><img src="../static/images/drinkimg.png" alt="" /></li>
    <li class="color3"><img src="../static/images/drinkimg.png" alt="" /></li>
</ul>
    
</div>
<!--第五屏开始-->
<div id="foodsbar">
    <div class="drinkproduct fl">
        <div class="foodstitle">
          <h2>食品类</h2>                    
          <span><a href="#">饼干</a> <a href="#">巧克力</a> <a href=""><a href="#">蜂蜜</a> <a href=""><samp>食品类</samp></a></span>
      </div>
        <div class="prodrink">
            <div class="leftdrink"><img src="../static/images/foods.jpg"></div>
            <div class="pro">
                <ul>
                    <li>
                        <img src="../static/images/1.jpg" width="160" height="157" />
                        <p class="proname"><a href="#">迪尔马奇磨白直筒纯棉牛仔裤</a></p>
                        <p class="price">热卖价:<strong>￥99.00</strong></p>
                    </li>
                    <li>
                        <img src="../static/images/5.jpg" width="160" height="157" />
                        <p class="proname"><a href="#">Versace范思哲宝贝粉牛仔香水50ml</a></p>
                        <p class="price">热卖价:￥<strong>129.00</strong></p>
                    </li>
                    <li>
                        <img src="../static/images/3.jpg" width="160" height="157" />
                        <p class="proname"><a href="#">联想A520 3G手机！女士购机首选！</a></p>
                        <p class="price">热卖价:￥<strong>1199.00</strong></p>
                    </li>
                    <li>
                        <img src="../static/images/7.jpg" width="160" height="157" />
                        <p class="proname"><a href="#">LG 32LM3100-CC 32英寸3DLE</a></p>
                        <p class="price">热卖价:￥<strong>2788.00</strong></p>
                    </li>
                   <li>
                        <img src="../static/images/2.jpg" width="160" height="157" />
                        <p class="proname"><a href="#">迪尔马奇磨白直筒纯棉牛仔裤</a></p>
                        <p class="price">热卖价:<strong>￥99.00</strong></p>
                    </li>
                    <li>
                        <img src="../static/images/6.jpg" width="160" height="157" />
                        <p class="proname"><a href="#">Versace范思哲宝贝粉牛仔香水50ml</a></p>
                        <p class="price">热卖价:￥<strong>129.00</strong></p>
                    </li>
                   <li>
                        <img src="../static/images/4.jpg" width="160" height="157" />
                        <p class="proname"><a href="#">Versace范思哲宝贝粉牛仔香水50ml</a></p>
                        <p class="price">热卖价:￥<strong>129.00</strong></p>
                    </li>
                    <li>
                        <img src="../static/images/18.jpg" width="160" height="157" />
                        <p class="proname"><a href="#">法国进口 利妮雅 甜蜜牛奶香浓巧克力排块100g</a></p>
                        <p class="price">热卖价:￥<strong>19.9</strong></p>
                    </li>
                    <li>
                        <img src="../static/images/4.jpg" width="160" height="157" />
                        <p class="proname"><a href="#">Versace范思哲宝贝粉牛仔香水50ml</a></p>
                        <p class="price">热卖价:￥<strong>129.00</strong></p>
                    </li>
                    <li>
                        <img src="../static/images/3.jpg" width="160" height="157" />
                        <p class="proname"><a href="#">联想A520 3G手机！女士购机首选！</a></p>
                        <p class="price">热卖价:￥<strong>1199.00</strong></p>
                    </li>
                </ul>
            </div>
        </div>
      
    </div>
</div>

<!--底部开始-->
<div class="footer">
    <div class="service">
        <div class="bottomtop">
            <dl>
                <dt><img src="../static/images/bottom01.png" alt="" /></dt>
                <dd><a href="#" class="title">100%正品</a></dd>
                <dd><a href="#">假一赔十</a></dd>
            </dl>
            <dl>
                <dt><img src="../static/images/bottom02.png" alt="" /></dt>
                <dd><a href="#" class="title">低价保障</a></dd>
                <dd><a href="#">缩减中间环节 确保低价</a></dd>
            </dl>
            <dl>
                <dt><img src="../static/images/bottom03.png" alt="" /></dt>
                <dd><a href="#" class="title">30天无忧退货</a></dd>
                <dd><a href="#">国内退货 售后无忧</a></dd>
            </dl>
            <dl>
                <dt><img src="../static/images/bottom04.png" alt="" /></dt>
                <dd><a href="#" class="title">满88包邮</a></dd>
                <dd><a href="#">部分特殊商品除外</a></dd>
            </dl>
        </div>
      <div class="global">
            <p>全国客服：400 888 1991</p>
            <span>支付方式(9:00-21:00)</span>
            <div class="consult"><img src="../static/images/consult.jpg" alt="" /> <a href="#"><img src="../static/images/toushu.jpg" alt="" /></a></div>
        </div>
        <dl>
            <dt></dt>
            <dd><a href="#" class="title">建诺保障</a></dd>
            <dd><a href="#">假一赔十</a></dd>
            <dd><a href="#">廉政监督</a></dd>
          
        </dl>
        <dl>
        	<dt></dt>
            <dd><a href="#" class="title">新手指南</a></dd>
            <dd><a href="#">购物流程</a></dd>
            <dd><a href="#">支付方式</a></dd>
            <dd><a href="#">通关税费</a></dd>
            <dd><a href="#">其他问题</a></dd>
        </dl>
        <dl>
        	<dt></dt>
            <dd><a href="#" class="title">关于配送</a></dd>
            <dd><a href="#">配送方式</a></dd>
            <dd><a href="#">配送流程</a></dd>
            <dd><a href="#">物流跟踪</a></dd>
        </dl>
        <dl>
        	<dt></dt>
            <dd><a href="#" class="title">售后服务</a></dd>
            <dd><a href="#">品质保证</a></dd>
            <dd><a href="#">回收条款</a></dd>
            <dd><a href="#">15天退货承诺</a></dd>
        </dl>
        <dl>
        	<dt></dt>
            <dd><a href="#" class="title">客服中心</a></dd>
            <dd><a href="#">退货政策</a></dd>
            <dd><a href="#">退货流程</a></dd>
            <dd><a href="#">退款说明</a></dd>
            <dd><a href="#">联系客服</a></dd>
        </dl>
        <dl class="last">
        	<dt></dt>
            <dd><a href="#" class="title">关于我们</a></dd>
            <dd><a href="#">权威认证</a></dd>
            <dd><a href="#">招聘信息</a></dd>
            <dd><a href="#">联系我们</a></dd>
        </dl>
    </div>
    <div class="clear"></div>
    <div id="bottom">
    	
        <div class="footnav">
        	  <a href="#">关于建诺网</a><span>|</span>
            
              <a href="#">服务条款</a><span>|</span>
              <a href="#">广告服务</a><span>|</span>
              <a href="#">企业招聘</a><span>|</span>
              <a href="#">客服中心</a><span>|</span>
    		  <a href="#">网站导航</a>
              <p>Copyright © 1998 - 2010 legou.com. All Rights Reserved</p>
              <p>建诺网版权所有</p>
        </div>
    </div>
</div>
<!--QQ滚动广告-->
<div id="buttonFloat">
  
  <a href="#" title="返回主页" class="back"><i class="iconback"></i><samp>主页</samp></a>
  <a href="javascript:window.external.addFavorite('http://www.yousite.com/','站点名称');" title="收藏本站" class="Collection"><i class="iconcoll"></i><samp>收藏</samp></a>
   <a href="shoppingCart.html" title="购物车" class="cash"><i class="iconshopping"></i><samp>购物车</samp><span class="num">29</span></a>
  <a target="_blank" href="http://amos.im.alisoft.com/msg.aw?v=2&uid=51add&site=cntaobao&s=2&charset=utf-8" class="kefu" ><i class="iconkefu"></i><samp>客服</samp></a>
  <a href="#top" title="返回头部" class="toTop"><i class="up"></i><samp>TOP</samp></a>
</div>
<script type="text/javascript">
/*** 滚动公告js ***/
$(function(){
    //单行应用
    var _wrap=$('ul.sales');//定义滚动区域
    var _interval=2000;//定义滚动间隙时间
    var _moving;//需要清除的动画
    _wrap.hover(function(){
        clearInterval(_moving);//当鼠标在滚动区域中时,停止滚动
    },function(){
        _moving=setInterval(function(){
            var _field=_wrap.find('li:first');//此变量不可放置于函数起始处,li:first取值是变化的
            var _h=_field.height();//取得每次滚动高度
            _field.animate({marginTop:-_h+'px'},600,function(){//通过取负margin值,隐藏第一行
                _field.css('marginTop',0).appendTo(_wrap);//隐藏后,将该行的margin值置零,并插入到最后,实现无缝滚动
            })
        },_interval)//滚动间隔时间取决于_interval
    }).trigger('mouseleave');//函数载入时,模拟执行mouseleave,即自动滚动
});
</script>
<script type="text/javascript">
//<![CDATA[
var tips; var theTop = 70/*这是默认高度,越大越往下*/; var old = theTop;
function initFloatTips() {
  tips = document.getElementById('buttonFloat');
  moveTips();
};
function moveTips() {
  var tt=50;
  if (window.innerHeight) {
    pos = window.pageYOffset
  }
  else if (document.documentElement && document.documentElement.scrollTop) {
    pos = document.documentElement.scrollTop
  }
  else if (document.body) {
    pos = document.body.scrollTop;
  } 
  pos=pos-tips.offsetTop+theTop;
  pos=tips.offsetTop+pos/10;
 
  if (pos < theTop) pos = theTop;
  if (pos != old) {
    tips.style.top = pos+"px";
    tt=10;
  //alert(tips.style.top);
  }
 
  old = pos;
  setTimeout(moveTips,tt);
}
//!]]>
initFloatTips();
</script>

<script type="text/javascript" src="../static/js/lrtk.js"></script>
<script type=text/javascript src="../static/js/jd.lib.js"></script> 


</body>
</html>
