<!DOCTYPE html>
<html >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>建诺商城</title>
    <meta name="keywords" content="建诺商城，建诺，网购，购物" />
    <meta name="description" content="建诺商城，中国进口网购网站" />
    <meta content="all" name="robots" />
    <meta name="googlebot" content="all" />
    <meta name="baiduspider" content="all" />
    <link href="../static/css/global.css" rel="stylesheet" type="text/css" />
    <link href="../static/css/index.css" rel="stylesheet" type="text/css" />
    <link href="../static/css/join.css" rel="stylesheet" type="text/css" />
    
    <script src="../static/js/jquery.min.js" type="text/javascript"><!--公共jQ框架，01滚动公共--></script>
   
    
</head>
<!--[if lte IE 6]>

<![endif]-->
<body>
<div id="loading">
    <div id="loading-center"></div>
</div>
<div class="wrapper-content ">
    <!-- 头部栏开始-->
    <div class="sv-header">
        <div class="sd-content clearfix">
            <div class="sd-left">
                <div class="sv-logo">
                    <a href="index.html">
                        <img src="../static/images/logo.png" alt="">
                    </a>
                </div>
            </div>
            <div class="sd-right">

                <div class="sv-out"><a href="javascript:void(0);" id="userLogout">退出</a></div>
                <div class="sv-zh">
                    <div class="sv-acc-no"><a href="/index/index">1222xxx</a></div>
                    <div class="sv-acc-img">
                        <a href="index.htm">
                            <!-- 头像 -->
                            <img src="../static/images/user.png" alt="">
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
<!-- 主体 -->
    <div class="joinBox">
    	<div class="joinmenu">
            <div class="menubreadcrumb">
                 <ul>
                    <!-- <li><a href="/join/join/merchantEntry" name="join">招商首页</a></li> -->
                    <li><a href="/join/join/merchantStep" name="stepone" class="active" >入驻流程</a></li>
                    <!-- <li><a href="/join/join/merchantQuestion" name="question">常见问题</a></li> -->
                </ul>
            </div>
           
       </div>
    	<div class="stepBox">

               <div class="contentstep" style="margin: 0 auto; padding-top: 30px;">
                 
                        <h2>入驻流程</h2>
                        <img src="../static/images/step01.jpg" />
                         <h2 style="margin-top: 30px;">入驻标准</h2>
                        <div class="steptwo">
                            <ul>
                                <li>1.商家须为具有独立法人资格的公司，因此暂不接受个体工商户、合伙企业和个人独资企业的商家入驻；注册资本10万元及以上；</li>
                                <li>2.确保所提供的商品为正品，价格足够有竞争力；</li>
                                <li>3.母婴、女装女鞋、居家美妆、生活家电、食品生鲜等类目均可入驻；</li>
                                <li>4.入驻商家成立时间需大于半年，即商家营业执照有效期起始时间至商家提交入驻审核时间大于0.5年。</li>
                            </ul>
                            <div class="w-aptitude-title">公司资质要求<span> (* 所有相关资质必须在有效期内)</span></div>
                            <table class="w-aptitude-table" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th width="60px"></th>
                                        <th width="124px">证件名称</th>
                                        <th width="696px">资质要求</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>营业执照</td>
                                        <td class="w-text-position">必须具有法人资格，如为分支机构不具有法人资格的需提供总公司营业执照及其授权书；完成有效年检，复印件需加盖公司公章。<a href="http://b0.hucdn.com/img/seller/sw_yingye.jpg" target="_blank">(查看样例)</a></td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>税务登记证</td>
                                        <td class="w-text-position">国税、地税均可，复印件需加盖公司公章。<a href="http://b0.hucdn.com/img/seller/sw_shuiwu.jpg" target="_blank">(查看样例)</a></td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>组织机构代码证</td>
                                        <td class="w-text-position">复印件需加盖公司公章。<a href="http://b0.hucdn.com/img/seller/sw_jigou.jpg" target="_blank">(查看样例)</a></td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>法人身份证</td>
                                        <td class="w-text-position">需提供法人正反面身份证扫描件或复印件，并加盖公司公章。<a href="http://b0.hucdn.com/img/seller/sw_shenfen.png" target="_blank">(查看样例)</a></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="w-aptitude-foot">*若公司资质三证合一，只上传营业执照即可</div>
                            <div class="w-aptitude-title">品牌资质要求</div>
                            <table class="w-aptitude-table"  cellspacing="0">
                                <thead>
                                    <tr>
                                        <th width="60px"></th>
                                        <th width="124px">证件名称</th>
                                        <th width="696px">资质要求</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>商标注册证</td>
                                        <td class="w-text-position">
                                            <ul>
                                                <li>1.1需提供有效期内的商标注册证（R标）或商标受理通知书（TM标）</li>
                                                <li>1.2若办理过变更、转让、续展，请一并提供商标总局颁发对应证明或受理通知书</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>品牌授权书</td>
                                        <td class="w-text-position">
                                            <div>2.1品牌方入驻</div>
                                            <ul>
                                                <li>(1)商标注册人为公司，商标注册公司名称需与入驻公司名称一致，无需提供品牌授权书</li>
                                                <li>(2) 商标注册人为个人，需提供以商标注册人为法人的入驻公司营业执照</li>
                                                <li>(3) 若商标注册人是个人，需提供商标注册人身份证正反面复印件</li>
                                                <li>(4) 需要确保授权链条的完整，即申请入驻企业拿到的授权能够逐级逆推回品牌入驻商。</li>
                                            </ul>
                                            <div>2.2代理商入驻</div>
                                            <ul>
                                                <li>品牌授权书需满足以下条件：</li>
                                                <li>(1) 需授权在建诺商城销售</li>
                                                <li>(2) 授权书需注明授权期限、落款（个人授权需亲笔签名+手印）</li>
                                                <li>(3) 若商标注册人是个人，需提供商标注册人身份证正反面复印件</li>
                                                <li>(4) 需要确保授权链条的完整，即申请入驻公司拿到的授权能够逐级逆推回品牌方。</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td class="w-text-label-position">质检报告或3C认证证书</td>
                                        <td class="w-text-position">每个品牌须提供一份由权威质检机构出具的最近2年内的质检报告，或者有效期内的3C认证证书。
                                            <div>(1)质检报告</div>
                                            <ul>
                                                <li>每个品牌须提供一份最近2年内的质检报告（其中，一次性卫生用品和化妆品要求一年内质检报告，食品要求半年内质检报告），检测报告内容须包含品牌名称、产品名称和贝贝要求的检测项<a href="http://ww1.sinaimg.cn/large/0060lm7Tgw1f95tbz7cfwj31671a4n9z.jpg" target="_blank">(查看详细说明)。</a></li>
                                            </ul>
                                            <div>(2)3C认证证书</div>
                                            <ul>
                                                <li>经营电玩具类、弹射玩具类、童车类、安全座椅、电子产品等属于《强制性产品认证管理规定》范围的商品，必须通过3C强制认证。</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td class="w-text-label-position">报关单和检验检疫证明</td>
                                        <td class="w-text-position">若为进口产品，须提交近1年内海关进口报关单和检验检疫合格证明。</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="w-enter-comments">
                                    <div class="w-enter-comments-title">备注：特殊类目资质要求</div>
                                    <ul class="w-enter-comments-list">
                                        <li>1、食品类目</li>
                                        <li>
                                            <ul class="w-enter-comments-item">
                                                <li>1.1 若是生产厂商，则提交《全国工业产品生产许可证》；</li>
                                                <li>1.2 若是非生产厂商或品牌商非生产厂商（品牌系委托他人生产），则需提供以下资质：</li>
                                                <li>(1)《食品流通许可证》或《食品经营许可证》</li>
                                                <li>(2) 生产厂商持有的《全国工业产品生产许可证》，提交的生产许可证生产范围需包含经营的商品；</li>
                                                <li>(3) 品牌商与生产厂商间的《委托加工协议》</li>
                                                <li>如果品牌商为自然人，可由其法人公司与生产商进行委托加工，并同时提交法人公司的企业营业执照；若品牌商授权商家全权处理品牌运营事宜，则可提供商家与生产厂商间的《委托加工协议》</li>
                                                <li>1.3 若经营的是初级农产品，则需提供公司的营业执照或进货渠道证明（需要有进货方的盖章与供货方的盖章或签字），无需提供食品流通许可证与食品生产许可证。</li>
                                            </ul>
                                        </li>
                                        <li>2、美妆类目</li>
                                        <li>
                                            <ul class="w-enter-comments-item">
                                            <li>2.1 国产化妆品</li>
                                            <li>(1) 化妆品生产厂商《营业执照》</li>
                                            <li>(2) 化妆品生产厂商持有的《化妆品生产许可证》（即全国工业产品生产许可证》）</li>
                                            <li>(3) 若为委托加工，则需提供“委托加工合同”</li>
                                            <li>(4) 备案或批件</li>
                                            <li>①经营特殊用途化妆品：需提交特殊用途化妆品卫生许可批件复印件</li>
                                            <li>②经营非特殊用途化妆品：需提供国产非特殊用途化妆品备案凭证或网上备案凭证复印件。</li>
                                            <li>2.2 进口化妆品</li>
                                            <li>(1) 提供一年以内进口货物报关单和入境货物检验检疫证明</li>
                                            <li>(2) 备案或批件</li>
                                            <li>①进口非特殊用途化妆品备案凭证复印件；</li>
                                            <li>②特殊用途化妆品：进口特殊用途化妆品许可批件或者备案凭证复印件</li>
                                            <li>说明：特殊用途化妆品主要包括：育发类、染发类、烫发类、脱毛类、美乳类、健美类、除臭类、祛斑类（仅具物理遮盖作用除外）、防晒类、美白类化妆品）。</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                        </div>
                  
               </div>
        </div>
    
    </div>
    <div style=" border-top: 1px solid #eaeaea; margin-top: 30px;">
        <div id="bottom" >
              <div class="footnav">
                  <a href="/index/link/contact_us">联系我们</a><span>|</span>
                  <a href="/index/link/service_us">服务协议</a><span>|</span>
                  <a href="/join/join/joinIndex">商家入驻</a><span>|</span>
                  <a href="/index/link/zhao_us">企业招聘</a><span>|</span>
                  <a href="/index/link/dz_us">电子公告服务规则</a><span>|</span>
                  <a href="/index/help/process">帮助中心</a>
                  <p>Copyright © 1998 - 2010 legou.com. All Rights Reserved</p>
                  <p>建诺网版权所有</p>
              </div>
    </div>
   </div>
  