<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>建诺商城</title>
<meta name="keywords" content="建诺商城，建诺，网购，购物" />
<meta name="description" content="建诺商城，中国进口网购网站" />
<meta content="all" name="robots" />
<meta name="googlebot" content="all" />
<meta name="baiduspider" content="all" />
<link href="../static/css/global.css" rel="stylesheet" type="text/css" />
<link href="../static/css/index.css" rel="stylesheet" type="text/css" />
<link href="../static/css/paymoney.css" rel="stylesheet" type="text/css" />
<!-- <link href="../static/layui/css/layui.css" rel="stylesheet" type="text/css" /> -->
<script src="../static/js/jquery.min.js" type="text/javascript"><!--公共jQ框架，01滚动公共--></script>
<script src="../static/js/tab.js" type="text/javascript"><!--公共jQ框架，01滚动公共--></script>
<script src="../static/js/laydate/laydate.js" type="text/javascript"><!--公共jQ框架，01滚动公共--></script>



</head>
<!--[if lte IE 6]>
<style type="text/css">
body { behavior:url("css/csshover.htc"); }
</style>
<![endif]-->
<body>

<!-- 头部栏开始--> 
<div id="top">
	<div class="header">
    	<p class="fl">欢迎来到建诺商城！  <a href="personalCenter.html">159***6694</a> <span>&nbsp;|&nbsp;</span> <a href="#"><strong>注册</strong></a></p> 
      <div class="topmenu fr">
            <ul class="menu">
                <li style="background:none;position:relative; z-index:10;"> 
                	<a href="#" class="arrow">我的账户</a>
                    <ul class="top_submenu">
                            <li><a href="personalCenter.html">订单中心</a></li>
                            <li><a href="#">物流跟踪</a></li>
                            <li><a href="#">我的优惠券</a></li>
                    </ul>
               </li>
               <li class="phone"><a href="#">服务专线：</a><font style="font-family:Arial; color:#c60000;"><strong>400-888-1991</strong></font></li>                          
            </ul> 
   	  </div>
  </div>
</div>
<div class="clear"></div>

<!--logo栏开始-->
<div id="logobar" style="height: 80px;">
	<h1 class="fl"><img src="../static/images/paylogo.png" alt="" /></h1>
  
</div>

<div class="personerBox">
    <div class="scanning">
        <h2>正在使用即时到账交易，，交易将在1小时59分后关闭，请即时付款！</h2>
        <h3>【建诺商城】订单编号20171114202122...  <samp>卖家：建诺商城</samp><span>¥108.00</span></h3>
        <h4>汇率：1.00USD=6.233333CNY</h4>
        <hr style=" height: 2px;  border: none;border-top: 1px solid #eaeaea;">
        <div class="scanone">
            <div class="leftimg">
                <div class="textword">
                    <p>扫一扫付款（元）</p>
                    <p>108.00</p>
                </div>
                <img src="../static/images/bgpay.png" alt="" />
            </div>
            <div class="rightone"></div>
        </div>
        <div class="clear"></div>
    </div>
   
</div>
<div class="clear"></div>

<!--底部开始-->
<div class="footer">   
    <div class="service">
        <div class="bottomtop">
            <dl>
                <dt><img src="../static/images/bottom01.png" alt="" /></dt>
                <dd><a href="#" class="title">100%正品</a></dd>
                <dd><a href="#">假一赔十</a></dd>
            </dl>
            <dl>
                <dt><img src="../static/images/bottom02.png" alt="" /></dt>
                <dd><a href="#" class="title">低价保障</a></dd>
                <dd><a href="#">缩减中间环节 确保低价</a></dd>
            </dl>
            <dl>
                <dt><img src="../static/images/bottom03.png" alt="" /></dt>
                <dd><a href="#" class="title">30天无忧退货</a></dd>
                <dd><a href="#">国内退货 售后无忧</a></dd>
            </dl>
            <dl>
                <dt><img src="../static/images/bottom04.png" alt="" /></dt>
                <dd><a href="#" class="title">满88包邮</a></dd>
                <dd><a href="#">部分特殊商品除外</a></dd>
            </dl>
        </div>
      <div class="global">
            <p>全国客服：400 888 1991</p>
            <span>支付方式(9:00-21:00)</span>
            <div class="consult"><img src="../static/images/consult.jpg" alt="" /> <a href="#"><img src="../static/images/toushu.jpg" alt="" /></a></div>
        </div>
        <dl>
            <dt></dt>
            <dd><a href="#" class="title">建诺保障</a></dd>
            <dd><a href="#">假一赔十</a></dd>
            <dd><a href="#">廉政监督</a></dd>
          
        </dl>
        <dl>
        	<dt></dt>
            <dd><a href="#" class="title">新手指南</a></dd>
            <dd><a href="#">购物流程</a></dd>
            <dd><a href="#">支付方式</a></dd>
            <dd><a href="#">通关税费</a></dd>
            <dd><a href="#">其他问题</a></dd>
        </dl>
        <dl>
        	<dt></dt>
            <dd><a href="#" class="title">关于配送</a></dd>
            <dd><a href="#">配送方式</a></dd>
            <dd><a href="#">配送流程</a></dd>
            <dd><a href="#">物流跟踪</a></dd>
        </dl>
        <dl>
        	<dt></dt>
            <dd><a href="#" class="title">售后服务</a></dd>
            <dd><a href="#">品质保证</a></dd>
            <dd><a href="#">回收条款</a></dd>
            <dd><a href="#">15天退货承诺</a></dd>
        </dl>
        <dl>
        	<dt></dt>
            <dd><a href="#" class="title">客服中心</a></dd>
            <dd><a href="#">退货政策</a></dd>
            <dd><a href="#">退货流程</a></dd>
            <dd><a href="#">退款说明</a></dd>
            <dd><a href="#">联系客服</a></dd>
        </dl>
        <dl class="last">
        	<dt></dt>
            <dd><a href="#" class="title">关于我们</a></dd>
            <dd><a href="#">权威认证</a></dd>
            <dd><a href="#">招聘信息</a></dd>
            <dd><a href="#">联系我们</a></dd>
        </dl>
    </div>
    <div class="clear"></div>
    <div id="bottom">
    	
        <div class="footnav">
        	  <a href="#">关于建诺网</a><span>|</span>
            
              <a href="#">服务条款</a><span>|</span>
              <a href="#">广告服务</a><span>|</span>
              <a href="#">企业招聘</a><span>|</span>
              <a href="#">客服中心</a><span>|</span>
    		  <a href="#">网站导航</a>
              <p>Copyright © 1998 - 2010 legou.com. All Rights Reserved</p>
              <p>建诺网版权所有</p>
        </div>
    </div>
</div>


</body>
</html>
