<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>建诺商城</title>
<meta name="keywords" content="建诺商城，建诺，网购，购物" />
<meta name="description" content="建诺商城，中国进口网购网站" />
<meta content="all" name="robots" />
<meta name="googlebot" content="all" />
<meta name="baiduspider" content="all" />
<link href="../static/css/global.css" rel="stylesheet" type="text/css" />
<link href="../static/css/index.css" rel="stylesheet" type="text/css" />
<link href="../static/css/personalCenter.css" rel="stylesheet" type="text/css" />
<link href="../static/layui/css/layui.css" rel="stylesheet" type="text/css" />
<script src="../static/js/jquery.min.js" type="text/javascript"><!--公共jQ框架，01滚动公共--></script>
<script src="../static/js/tab.js" type="text/javascript"><!--公共jQ框架，01滚动公共--></script>
<script src="../static/js/laydate/laydate.js" type="text/javascript"><!--公共jQ框架，01滚动公共--></script>



</head>
<!--[if lte IE 6]>
<style type="text/css">
body { behavior:url("css/csshover.htc"); }
</style>
<![endif]-->
<body>

<!-- 头部栏开始--> 
<div id="top">
	<div class="header">
    	<p class="fl">欢迎来到建诺商城！  <a href="personalCenter.html">159***6694</a> <span>&nbsp;|&nbsp;</span> <a href="#"><strong>注册</strong></a></p> 
      <div class="topmenu fr">
            <ul class="menu">
                <li style="background:none;position:relative; z-index:10;"> 
                	<a href="#" class="arrow">我的账户</a>
                    <ul class="top_submenu">
                            <li><a href="personalCenter.html">订单中心</a></li>
                            <li><a href="#">物流跟踪</a></li>
                            <li><a href="#">我的优惠券</a></li>
                    </ul>
               </li>
               <li class="phone"><a href="#">服务专线：</a><font style="font-family:Arial; color:#c60000;"><strong>400-888-1991</strong></font></li>                          
            </ul> 
   	  </div>
  </div>
</div>
<div class="clear"></div>

<!--logo栏开始-->
<div id="logobar">
	<h1 class="fl"><img src="../static/images/logo.png" alt="" /></h1>
    <div class="searchcolumn fl">
    	
         <form>
              <input name="text" type="text" class="search_center fl" onfocus="if(this.value=='请输入要搜索的商品'){this.value=''}" onblur="if(this.value==''){this.value='请输入要搜索的商品'}" value="请输入要搜索的商品"/>
              <input name="" type="button" class="search_right fl" value="搜索" />
         </form>
    </div>
    
	  <div class="shopping fr">
    	<span></span>
        <ul class="sales fr">
        	<li><a href="#">【活动】好记星全新上市送699元</a></li>
            <li><a href="#">【活动】好记星全新上市送699元</a></li>
        </ul>

    </div>
</div>

<!--menu栏开始-->


<!--search栏开始-->
<div id="searchbar">
	<div class="mennubox">
    	<div class="leftmenu fl">
        	<ul>
                <li><a>首页</a></li>
                <li><a>酒类</a></li>
                <li><a>油类</a></li>
                <li><a>食品类</a></li>
                <li><a>今日限时购</a></li>
            	<li><a>新品</a></li>
            </ul>
        </div>
   		<div class="input fl">
        <ul class="chash fr">
       		<li>购物车0件
            	<ul class="car">
                	<li>您的购物车中暂无商品，赶快选择心爱的商品吧！</li>
                </ul>
            </li>
            <li><a href="#">去结算</a></li> 
       </ul> 
     </div>
    </div>
   	  
</div>

<div class="personerBox">
    <div class="leftsidebar">
        <h2>个人中心</h2>
        <ul>
            <li class="active"><a href="personalCenter.html">我的订单</a></li>
            <!--<li><a>我的优惠券</a></li>-->
        </ul> 
        <ul>
            <li><a href="accountSet.html">帐号管理</a></li>
            <li><a href="accountManagement.html">个人资料</a></li>
           <!-- <li><a>我的实名认证</a></li>-->
        </ul> 
        <ul>
            <li><a>我收藏的商品</a></li>
            <li><a>我关注的品牌</a></li>
            <li><a href="evaluate.html">我的评价</a></li>
        </ul>
         <ul>
            <li><a>管理收货地址</a></li>
            <li><a>售后管理</a></li>
        </ul>
    </div>
    <div class="rightcontent">

        <p class="orderlist">
                <a id="one1" onclick="setTab('one',1,5)" class="hover1">所有订单</a>
                <a id="one2" onclick="setTab('one',2,5)">待付款<samp>12</samp></a>
                <a id="one3" onclick="setTab('one',3,5)">待发货<samp>12</samp></a>
                <a id="one4" onclick="setTab('one',4,5)">待收货<samp>12</samp></a>
                <a id="one5" onclick="setTab('one',5,5)">待评价<samp>12</samp></a>
                <a id="" class="reback">订单回收站</a>
            </ul>
        </p>
        <div class="searchorder">
            <input type="" name="" class="leftinput" placeholder="输入商品名称或订单号搜索">
            <input type="button" name="" class="rightbutton" value="订单搜索">
            <div class="s-margin20right">
                <ul>
                    <li><label>下单时间：</label><input type="" name="" onclick="laydate()"></li>
                    <li style="width: 27%;"><label>-</label><input type="" name="" onclick="laydate()"></li>
                    <li><label>成交状态：</label><select><option>全部</option><option>等待买家付款</option><option>待实名认证</option><option>海关审核中</option><option>待发货</option><option>已发货</option><option>交易完成</option><option>交易失败</option><option>订单关闭</option></select></li>

                </ul>
                    
                    
            </div>

        </div>
         <div class="tabCon">
             <ul class="persViewTit clearfix">
                        <li class="h-text h-goods">商品</li>
                        <li class="h-text h-price">售价(元)</li>
                        <li class="h-text h-amount">数量</li>
                        <li class="h-text h-gOperate">商品操作</li>
                        <li class="h-text h-total">总计(元)</li>
                        <li class="h-text h-status">订单状态</li>
                        <li class="h-text h-operate">操作</li>
                    </ul>
             <div id="con_one_1">
                <div class="persViewBox orderBox" style="opacity: 1;">
                    
                   
                     <!--状态立即付款-->
                    <div class="persViewCon">
                        <!--Regular list-->
                            <table class="myOdr_tb1" width="100%" border="0" cellspacing="0" cellpadding="0">
                               
                                <tbody>
                                    
                                 <tr>
                                    <th align="left" bgcolor="#f7f7f7" colspan="4" class="oInfo">
                                        &nbsp;&nbsp;
                                        <span><i class="icon-location"><img src="../static/images/location.png"></i><!--Regular if17--><b>义乌保税仓</b></span>
                                        <span class="gorderId" data-gorderid="201710251001GORDER85847904">
                                            订单号：2017102510010008636327602
                                        </span>
                                        <span>
                                            下单时间：2017-10-25
                                        </span>
                                        <span class="delIcon"><img src="../static/images/delIcon.png" width="13"></span>
                                    </th>
                                </tr>
                                    
                 
                                <tr class="aOrder">
                                        <td class="aOrder-items">
                                            <table class="myOdr_tb2" border="0" cellspacing="0" cellpadding="0">
                                                <tbody>
                                                    <!--Regular list-->
                                                        <tr class="">
                                                                <td align="center">
                                                                    <a class="aImg" target="_blank" href="/product/1330333.html">
                                                                        <img border="0" src="../static/images/1.jpg">
                                                                    </a>
                                                                </td>
                                                                <td class="goodsTitle">
                                                                    <!--Regular if21-->
                                                                    <a class="aTit" target="_blank" title="Freeplus 芙丽芳丝 净润洗面霜 100克 人见人爱" href="/product/1330333.html">
                                                                        <span>Freeplus 芙丽芳丝 净润洗面霜 100克 人见人爱</span>
                                                                    </a>
                                                                    <!--inlcude-->
                                        
                                                                  </td>
                                                                    <td align="center" class="price pd0">
                                                                          <p class="marketPrice">150.00</p>
                                                                          <p>99.00</p>
                                                                    </td>
                                                                    <td align="center" class="amount bdrGray">1</td>
                                                                    <td align="center" class="bdrGray goodsOperate"></td>
                                                               </tr>

                                                    </tbody>
                                              </table>
                                         </td>
                                        <td align="center" class="itemPayTd rbBorder">
                                        
                                            <p class="fb">99.00</p>
                                            
                                            <p class="fee">(含运/税费:0.00)</p>
                                        </td>
                                     
                                        <td align="center" class="orderStatus orderStatus-1 rbBorder" rowspan="1">
                                       
                                            <a target="_blank" href="payMoney.html">等待买家付款</a>
                                    <a target="_blank" href="orderDetail.html">订单详情</a>

                                        </td>
                                        <td align="center" class="c_888 rbBorder operate" rowspan="1">
                                        <div class="js-time-counter">
                                            请在<span class="refund-hour">0小时</span><span class="refund-min">56分</span><span class="refund-sec">46秒</span>内付款
                                        </div>
                                        <a href="payMoney.html"><span class="payNow btn-red30">立即付款</span></a>
                                        <a href="javascript:;" class="cancelOrder">取消订单</a>

                                        </td>
                                        
                                    </tr>

                                </tbody>
                            </table>
                        
                        <div id="pageNavWrap">
                            <div id="pageNav" class="m-centerpager clearfix center">
                                <!--Regular if41-->
                            </div>
                        </div>
                    </div>
                    <!--状态确认收货-->
                     <div class="persViewCon">
                            
                            <table class="myOdr_tb1" width="100%" border="0" cellspacing="0" cellpadding="0">
                               
                                <tbody>
                                    
                                 <tr>
                                    <th align="left" bgcolor="#f7f7f7" colspan="4" class="oInfo">
                                        &nbsp;&nbsp;
                                        <span><i class="icon-location"><img src="../static/images/location.png"></i><b>义乌保税仓</b></span>
                                        <span class="gorderId" data-gorderid="201710251001GORDER85847904">
                                            订单号：2017102510010008636327602
                                        </span>
                                        <span>
                                            下单时间：2017-10-25
                                        </span>
                                        <span class="delIcon"><img src="../static/images/delIcon.png" width="13"></span>
                                    </th>
                                </tr>
                                    
                 
                                <tr class="aOrder">
                                        <td class="aOrder-items">
                                            <table class="myOdr_tb2" border="0" cellspacing="0" cellpadding="0">
                                                <tbody>
                                                    <!--Regular list-->
                                                        <tr class="">
                                                                <td align="center">
                                                                    <a class="aImg" target="_blank" href="/product/1330333.html">
                                                                        <img border="0" src="../static/images/1.jpg">
                                                                    </a>
                                                                </td>
                                                                <td class="goodsTitle">
                                                                    <!--Regular if21-->
                                                                    <a class="aTit" target="_blank" title="Freeplus 芙丽芳丝 净润洗面霜 100克 人见人爱" href="/product/1330333.html">
                                                                        <span>Freeplus 芙丽芳丝 净润洗面霜 100克 人见人爱</span>
                                                                    </a>
                                                                    <!--inlcude-->
                                        
                                                                  </td>
                                                                    <td align="center" class="price pd0">
                                                                          <p class="marketPrice">150.00</p>
                                                                          <p>99.00</p>
                                                                    </td>
                                                                    <td align="center" class="amount bdrGray">1</td>
                                                                    <td align="center" class="bdrGray goodsOperate"></td>
                                                               </tr>

                                                    </tbody>
                                              </table>
                                         </td>
                                        <td align="center" class="itemPayTd rbBorder">
                                        
                                            <p class="fb">99.00</p>
                                            
                                            <p class="fee">(含运/税费:0.00)</p>
                                        </td>
                                     
                                        <td align="center" class="orderStatus orderStatus-1 rbBorder" rowspan="1">
                                       
                                            <a target="_blank" href="###">已发货</a>
                                            <a target="_blank" href="orderDetail.html">订单详情</a>
                                            <a target="_blank" href="###" class="now">查看物流</a>

                                        </td>
                                        <td align="center" class="c_888 rbBorder operate" rowspan="1">
                                        <div class="js-time-counter">
                                            还剩<span class="refund-hour">6天</span><span class="refund-min">56分</span>
                                        </div>
                                        <span class="payed btn-red30">确认收货</span>
                                        

                                        </td>
                                        
                                    </tr>

                                </tbody>
                            </table>
                    </div> 
                    <!--状态等待卖家收货-->
                     <div class="persViewCon">
                            
                            <table class="myOdr_tb1" width="100%" border="0" cellspacing="0" cellpadding="0">
                               
                                <tbody>
                                    
                                 <tr>
                                    <th align="left" bgcolor="#f7f7f7" colspan="4" class="oInfo">
                                        &nbsp;&nbsp;
                                        <span><i class="icon-location"><img src="../static/images/location.png"></i><!--Regular if17--><b>义乌保税仓</b></span>
                                        <span class="gorderId" data-gorderid="201710251001GORDER85847904">
                                            订单号：2017102510010008636327602
                                        </span>
                                        <span>
                                            下单时间：2017-10-25
                                        </span>
                                         <span class="delIcon"><img src="../static/images/delIcon.png" width="13"></span>
                                    </th>
                                </tr>
                                    
                 
                                <tr class="aOrder">
                                        <td class="aOrder-items">
                                            <table class="myOdr_tb2" border="0" cellspacing="0" cellpadding="0">
                                                <tbody>
                                                    <!--Regular list-->
                                                        <tr class="">
                                                                <td align="center">
                                                                    <a class="aImg" target="_blank" href="">
                                                                        <img border="0" src="../static/images/2.jpg">
                                                                    </a>
                                                                </td>
                                                                <td class="goodsTitle">
                                                                    <!--Regular if21-->
                                                                    <a class="aTit" target="_blank" title="Freeplus 芙丽芳丝 净润洗面霜 100克 人见人爱" href="/product/1330333.html">
                                                                        <span>Freeplus 芙丽芳丝 净润洗面霜 100克 人见人爱</span>
                                                                    </a>
                                                                    <!--inlcude-->
                                        
                                                                  </td>
                                                                    <td align="center" class="price pd0">
                                                                          <p class="marketPrice">150.00</p>
                                                                          <p>99.00</p>
                                                                    </td>
                                                                    <td align="center" class="amount bdrGray">1</td>
                                                                    <td align="center" class="bdrGray goodsOperate"></td>
                                                               </tr>

                                                    </tbody>
                                              </table>
                                         </td>
                                        <td align="center" class="itemPayTd rbBorder">
                                        
                                            <p class="fb">99.00</p>
                                            
                                            <p class="fee">(含运/税费:0.00)</p>
                                        </td>
                                     
                                        <td align="center" class="orderStatus orderStatus-1 rbBorder" rowspan="1">
                                       
                                            <a target="_blank" href="###">待发货</a>
                                            <a target="_blank" href="###">订单详情</a>
                                         

                                        </td>
                                        <td align="center" class="c_888 rbBorder operate" rowspan="1">
                                        <div class="js-time-counter">
                                            <span class="nopayed">等待卖家发货</span>
                                        </div>

                                        </td>
                                        
                                    </tr>

                                </tbody>
                            </table>
                    </div>
                    <!--状态4交易成功-->
                     <div class="persViewCon">
                            
                            <table class="myOdr_tb1" width="100%" border="0" cellspacing="0" cellpadding="0">
                               
                                <tbody>
                                    
                                 <tr>
                                    <th align="left" bgcolor="#f7f7f7" colspan="4" class="oInfo">
                                        &nbsp;&nbsp;
                                        <span><i class="icon-location"><img src="../static/images/location.png"></i><!--Regular if17--><b>义乌保税仓</b></span>
                                        <span class="gorderId" data-gorderid="201710251001GORDER85847904">
                                            订单号：2017102510010008636327602
                                        </span>
                                        <span>
                                            下单时间：2017-10-25
                                        </span>
                                        <span class="delIcon"><img src="../static/images/delIcon.png" width="13"></span>
                                    </th>
                                </tr>
                                    
                 
                                <tr class="aOrder">
                                        <td class="aOrder-items">
                                            <table class="myOdr_tb2" border="0" cellspacing="0" cellpadding="0">
                                                <tbody>
                                                    <!--Regular list-->
                                                        <tr class="">
                                                                <td align="center">
                                                                    <a class="aImg" target="_blank" href="">
                                                                        <img border="0" src="../static/images/2.jpg">
                                                                    </a>
                                                                </td>
                                                                <td class="goodsTitle">
                                                                    <!--Regular if21-->
                                                                    <a class="aTit" target="_blank" title="Freeplus 芙丽芳丝 净润洗面霜 100克 人见人爱" href="/product/1330333.html">
                                                                        <span>Freeplus 芙丽芳丝 净润洗面霜 100克 人见人爱</span>
                                                                    </a>
                                                                    <!--inlcude-->
                                        
                                                                  </td>
                                                                    <td align="center" class="price pd0">
                                                                          <p class="marketPrice">150.00</p>
                                                                          <p>99.00</p>
                                                                    </td>
                                                                    <td align="center" class="amount bdrGray">1</td>
                                                                    <td align="center" class="bdrGray goodsOperate"></td>
                                                               </tr>

                                                    </tbody>
                                              </table>
                                         </td>
                                        <td align="center" class="itemPayTd rbBorder">
                                        
                                            <p class="fb">99.00</p>
                                            
                                            <p class="fee">(含运/税费:0.00)</p>
                                        </td>
                                     
                                        <td align="center" class="orderStatus orderStatus-1 rbBorder" rowspan="1">
                                       
                                            <a target="_blank" href="###">交易成功</a>
                                            <a target="_blank" href="###">订单详情</a>
                                            <a target="_blank" href="###">查看物流</a>
                                         

                                        </td>
                                        <td align="center" class="c_888 rbBorder operate" rowspan="1">
                                        <div class="js-time-counter">
                                            <span class="evaluate btn-gray30">评价</span>
                                        </div>

                                        </td>
                                        
                                    </tr>

                                </tbody>
                            </table>
                    </div>
                </div>
             </div>
             <div id="con_one_2" class="none">
                   <div class="persViewBox orderBox" style="opacity: 1;">
                             <!--状态立即付款-->
                       <div class="persViewCon">
                                <!--Regular list-->
                                    <table class="myOdr_tb1" width="100%" border="0" cellspacing="0" cellpadding="0">
                                       
                                        <tbody>
                                            
                                         <tr>
                                            <th align="left" bgcolor="#f7f7f7" colspan="4" class="oInfo">
                                                &nbsp;&nbsp;
                                                <span><i class="icon-location"><img src="../static/images/location.png"></i><!--Regular if17--><b>义乌保税仓</b></span>
                                                <span class="gorderId" data-gorderid="201710251001GORDER85847904">
                                                    订单号：2017102510010008636327602
                                                </span>
                                                <span>
                                                    下单时间：2017-10-25
                                                </span>
                                                <span class="delIcon"><img src="../static/images/delIcon.png" width="13"></span>
                                            </th>
                                        </tr>
                                            
                         
                                        <tr class="aOrder">
                                                <td class="aOrder-items">
                                                    <table class="myOdr_tb2" border="0" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <!--Regular list-->
                                                                <tr class="">
                                                                        <td align="center">
                                                                            <a class="aImg" target="_blank" href="/product/1330333.html">
                                                                                <img border="0" src="../static/images/1.jpg">
                                                                            </a>
                                                                        </td>
                                                                        <td class="goodsTitle">
                                                                            <!--Regular if21-->
                                                                            <a class="aTit" target="_blank" title="Freeplus 芙丽芳丝 净润洗面霜 100克 人见人爱" href="/product/1330333.html">
                                                                                <span>Freeplus 芙丽芳丝 净润洗面霜 100克 人见人爱</span>
                                                                            </a>
                                                                            <!--inlcude-->
                                                
                                                                          </td>
                                                                            <td align="center" class="price pd0">
                                                                                  <p class="marketPrice">150.00</p>
                                                                                  <p>99.00</p>
                                                                            </td>
                                                                            <td align="center" class="amount bdrGray">1</td>
                                                                            <td align="center" class="bdrGray goodsOperate"></td>
                                                                       </tr>

                                                            </tbody>
                                                      </table>
                                                 </td>
                                                <td align="center" class="itemPayTd rbBorder">
                                                
                                                    <p class="fb">99.00</p>
                                                    
                                                    <p class="fee">(含运/税费:0.00)</p>
                                                </td>
                                             
                                                <td align="center" class="orderStatus orderStatus-1 rbBorder" rowspan="1">
                                               
                                                    <a target="_blank" href="###">等待买家付款</a>
                                            <a target="_blank" href="###">订单详情</a>

                                                </td>
                                                <td align="center" class="c_888 rbBorder operate" rowspan="1">
                                                <div class="js-time-counter">
                                                    请在<span class="refund-hour">0小时</span><span class="refund-min">56分</span><span class="refund-sec">46秒</span>内付款
                                                </div>
                                                <span class="payNow btn-red30">立即付款</span>
                                                <a href="javascript:;" class="cancelOrder">取消订单</a>

                                                </td>
                                                
                                            </tr>

                                        </tbody>
                                    </table>
                                
                                <div id="pageNavWrap">
                                    <div id="pageNav" class="m-centerpager clearfix center">
                                        <!--Regular if41-->
                                    </div>
                                </div>
                       </div>
                  </div>
             </div>
             <div id="con_one_3" class="none">
                  <div class="persViewCon">
                        <table class="myOdr_tb1" width="100%" border="0" cellspacing="0" cellpadding="0">
                               
                                <tbody>
                                    
                                 <tr>
                                    <th align="left" bgcolor="#f7f7f7" colspan="4" class="oInfo">
                                        &nbsp;&nbsp;
                                        <span><i class="icon-location"><img src="../static/images/location.png"></i><!--Regular if17--><b>义乌保税仓</b></span>
                                        <span class="gorderId" data-gorderid="201710251001GORDER85847904">
                                            订单号：2017102510010008636327602
                                        </span>
                                        <span>
                                            下单时间：2017-10-25
                                        </span>
                                         <span class="delIcon"><img src="../static/images/delIcon.png" width="13"></span>
                                    </th>
                                </tr>
                                    
                 
                                <tr class="aOrder">
                                        <td class="aOrder-items">
                                            <table class="myOdr_tb2" border="0" cellspacing="0" cellpadding="0">
                                                <tbody>
                                                    <!--Regular list-->
                                                        <tr class="">
                                                                <td align="center">
                                                                    <a class="aImg" target="_blank" href="">
                                                                        <img border="0" src="../static/images/2.jpg">
                                                                    </a>
                                                                </td>
                                                                <td class="goodsTitle">
                                                                    <!--Regular if21-->
                                                                    <a class="aTit" target="_blank" title="Freeplus 芙丽芳丝 净润洗面霜 100克 人见人爱" href="/product/1330333.html">
                                                                        <span>Freeplus 芙丽芳丝 净润洗面霜 100克 人见人爱</span>
                                                                    </a>
                                                                    <!--inlcude-->
                                        
                                                                  </td>
                                                                    <td align="center" class="price pd0">
                                                                          <p class="marketPrice">150.00</p>
                                                                          <p>99.00</p>
                                                                    </td>
                                                                    <td align="center" class="amount bdrGray">1</td>
                                                                    <td align="center" class="bdrGray goodsOperate"></td>
                                                               </tr>

                                                    </tbody>
                                              </table>
                                         </td>
                                        <td align="center" class="itemPayTd rbBorder">
                                        
                                            <p class="fb">99.00</p>
                                            
                                            <p class="fee">(含运/税费:0.00)</p>
                                        </td>
                                     
                                        <td align="center" class="orderStatus orderStatus-1 rbBorder" rowspan="1">
                                       
                                            <a target="_blank" href="###">待发货</a>
                                            <a target="_blank" href="###">订单详情</a>
                                         

                                        </td>
                                        <td align="center" class="c_888 rbBorder operate" rowspan="1">
                                        <div class="js-time-counter">
                                            <span class="nopayed">等待卖家发货</span>
                                        </div>

                                        </td>
                                        
                                    </tr>

                                </tbody>
                       </table>
                 </div>
             </div>
             <div id="con_one_4" class="none">
                  <!--状态等待卖家收货-->
                      <div class="persViewCon">
                            
                            <table class="myOdr_tb1" width="100%" border="0" cellspacing="0" cellpadding="0">
                               
                                <tbody>
                                    
                                 <tr>
                                    <th align="left" bgcolor="#f7f7f7" colspan="4" class="oInfo">
                                        &nbsp;&nbsp;
                                        <span><i class="icon-location"><img src="../static/images/location.png"></i><b>义乌保税仓</b></span>
                                        <span class="gorderId" data-gorderid="201710251001GORDER85847904">
                                            订单号：2017102510010008636327602
                                        </span>
                                        <span>
                                            下单时间：2017-10-25
                                        </span>
                                        <span class="delIcon"><img src="../static/images/delIcon.png" width="13"></span>
                                    </th>
                                </tr>
                                    
                 
                                <tr class="aOrder">
                                        <td class="aOrder-items">
                                            <table class="myOdr_tb2" border="0" cellspacing="0" cellpadding="0">
                                                <tbody>
                                                    <!--Regular list-->
                                                        <tr class="">
                                                                <td align="center">
                                                                    <a class="aImg" target="_blank" href="/product/1330333.html">
                                                                        <img border="0" src="../static/images/1.jpg">
                                                                    </a>
                                                                </td>
                                                                <td class="goodsTitle">
                                                                    <!--Regular if21-->
                                                                    <a class="aTit" target="_blank" title="Freeplus 芙丽芳丝 净润洗面霜 100克 人见人爱" href="/product/1330333.html">
                                                                        <span>Freeplus 芙丽芳丝 净润洗面霜 100克 人见人爱</span>
                                                                    </a>
                                                                    <!--inlcude-->
                                        
                                                                  </td>
                                                                    <td align="center" class="price pd0">
                                                                          <p class="marketPrice">150.00</p>
                                                                          <p>99.00</p>
                                                                    </td>
                                                                    <td align="center" class="amount bdrGray">1</td>
                                                                    <td align="center" class="bdrGray goodsOperate"></td>
                                                               </tr>

                                                    </tbody>
                                              </table>
                                         </td>
                                        <td align="center" class="itemPayTd rbBorder">
                                        
                                            <p class="fb">99.00</p>
                                            
                                            <p class="fee">(含运/税费:0.00)</p>
                                        </td>
                                     
                                        <td align="center" class="orderStatus orderStatus-1 rbBorder" rowspan="1">
                                       
                                            <a target="_blank" href="###">已发货</a>
                                            <a target="_blank" href="###">订单详情</a>
                                            <a target="_blank" href="###" class="now">查看物流</a>

                                        </td>
                                        <td align="center" class="c_888 rbBorder operate" rowspan="1">
                                        <div class="js-time-counter">
                                            还剩<span class="refund-hour">6天</span><span class="refund-min">56分</span>
                                        </div>
                                        <span class="payed btn-red30">确认收货</span>
                                        

                                        </td>
                                        
                                    </tr>

                                </tbody>
                            </table>
                    </div> 
             </div>
             <div id="con_one_5" class="none">
                 <div class="persViewCon">
                            
                            <table class="myOdr_tb1" width="100%" border="0" cellspacing="0" cellpadding="0">
                               
                                <tbody>
                                    
                                 <tr>
                                    <th align="left" bgcolor="#f7f7f7" colspan="4" class="oInfo">
                                        &nbsp;&nbsp;
                                        <span><i class="icon-location"><img src="../static/images/location.png"></i><!--Regular if17--><b>义乌保税仓</b></span>
                                        <span class="gorderId" data-gorderid="201710251001GORDER85847904">
                                            订单号：2017102510010008636327602
                                        </span>
                                        <span>
                                            下单时间：2017-10-25
                                        </span>
                                        <span class="delIcon"><img src="../static/images/delIcon.png" width="13"></span>
                                    </th>
                                </tr>
                                    
                 
                                <tr class="aOrder">
                                        <td class="aOrder-items">
                                            <table class="myOdr_tb2" border="0" cellspacing="0" cellpadding="0">
                                                <tbody>
                                                    <!--Regular list-->
                                                        <tr class="">
                                                                <td align="center">
                                                                    <a class="aImg" target="_blank" href="">
                                                                        <img border="0" src="../static/images/2.jpg">
                                                                    </a>
                                                                </td>
                                                                <td class="goodsTitle">
                                                                    <!--Regular if21-->
                                                                    <a class="aTit" target="_blank" title="Freeplus 芙丽芳丝 净润洗面霜 100克 人见人爱" href="/product/1330333.html">
                                                                        <span>Freeplus 芙丽芳丝 净润洗面霜 100克 人见人爱</span>
                                                                    </a>
                                                                    <!--inlcude-->
                                        
                                                                  </td>
                                                                    <td align="center" class="price pd0">
                                                                          <p class="marketPrice">150.00</p>
                                                                          <p>99.00</p>
                                                                    </td>
                                                                    <td align="center" class="amount bdrGray">1</td>
                                                                    <td align="center" class="bdrGray goodsOperate"></td>
                                                               </tr>

                                                    </tbody>
                                              </table>
                                         </td>
                                        <td align="center" class="itemPayTd rbBorder">
                                        
                                            <p class="fb">99.00</p>
                                            
                                            <p class="fee">(含运/税费:0.00)</p>
                                        </td>
                                     
                                        <td align="center" class="orderStatus orderStatus-1 rbBorder" rowspan="1">
                                       
                                            <a target="_blank" href="###">交易成功</a>
                                            <a target="_blank" href="###">订单详情</a>
                                            <a target="_blank" href="###">查看物流</a>
                                         

                                        </td>
                                        <td align="center" class="c_888 rbBorder operate" rowspan="1">
                                        <div class="js-time-counter">
                                            <span class="evaluate btn-gray30">评价</span>
                                        </div>

                                        </td>
                                        
                                    </tr>

                                </tbody>
                            </table>
                 </div>

             </div>
        </div>
    <div class="pageturn">
        <a href="">上一页</a>
        <a href="" class="active">1</a>
        <a href="">2</a>
        <a href="">···</a>
        <a href="">6</a>
        <a href="">7</a>
        <a href="">下一页</a>
    </div>

    </div>
    <div class="clear"></div>
     <div class="bestMatch">
            <h2>最佳搭配<span>根据你的购物车商品推荐</span></h2>
            <ul class="match-ul">
                <li>
                     <img src="../static/images/1.jpg" width="160" height="157" />
                     <p class="proname"><a href="#">印尼进口丽芝士nabati纳宝帝奶酪威化饼干200g零食</a></p>
                     <p class="price">热卖价:<strong>¥69.00</strong><s>¥89.00</s></p>
                </li>
                 <li>
                     <img src="../static/images/2.jpg" width="160" height="157" />
                     <p class="proname"><a href="#">印尼进口丽芝士nabati纳宝帝奶酪威化饼干200g零食</a></p>
                     <p class="price">热卖价:<strong>¥69.00</strong><s>¥89.00</s></p>
                </li>
                 <li>
                     <img src="../static/images/3.jpg" width="160" height="157" />
                     <p class="proname"><a href="#">印尼进口丽芝士nabati纳宝帝奶酪威化饼干200g零食</a></p>
                     <p class="price">热卖价:<strong>¥69.00</strong><s>¥89.00</s></p>
                </li>
                 <li>
                     <img src="../static/images/4.jpg" width="160" height="157" />
                     <p class="proname"><a href="#">印尼进口丽芝士nabati纳宝帝奶酪威化饼干200g零食</a></p>
                     <p class="price">热卖价:<strong>¥69.00</strong><s>¥89.00</s></p>
                </li>
                 <li>
                     <img src="../static/images/5.jpg" width="160" height="157" />
                     <p class="proname"><a href="#">印尼进口丽芝士nabati纳宝帝奶酪威化饼干200g零食</a></p>
                     <p class="price">热卖价:<strong>¥69.00</strong><s>¥89.00</s></p>
                </li>
            </ul>
     </div> 
</div>
<div class="clear"></div>

<!--底部开始-->
<div class="footer">   
    <div class="service">
        <div class="bottomtop">
            <dl>
                <dt><img src="../static/images/bottom01.png" alt="" /></dt>
                <dd><a href="#" class="title">100%正品</a></dd>
                <dd><a href="#">假一赔十</a></dd>
            </dl>
            <dl>
                <dt><img src="../static/images/bottom02.png" alt="" /></dt>
                <dd><a href="#" class="title">低价保障</a></dd>
                <dd><a href="#">缩减中间环节 确保低价</a></dd>
            </dl>
            <dl>
                <dt><img src="../static/images/bottom03.png" alt="" /></dt>
                <dd><a href="#" class="title">30天无忧退货</a></dd>
                <dd><a href="#">国内退货 售后无忧</a></dd>
            </dl>
            <dl>
                <dt><img src="../static/images/bottom04.png" alt="" /></dt>
                <dd><a href="#" class="title">满88包邮</a></dd>
                <dd><a href="#">部分特殊商品除外</a></dd>
            </dl>
        </div>
      <div class="global">
            <p>全国客服：400 888 1991</p>
            <span>支付方式(9:00-21:00)</span>
            <div class="consult"><img src="../static/images/consult.jpg" alt="" /> <a href="#"><img src="../static/images/toushu.jpg" alt="" /></a></div>
        </div>
        <dl>
            <dt></dt>
            <dd><a href="#" class="title">建诺保障</a></dd>
            <dd><a href="#">假一赔十</a></dd>
            <dd><a href="#">廉政监督</a></dd>
          
        </dl>
        <dl>
        	<dt></dt>
            <dd><a href="#" class="title">新手指南</a></dd>
            <dd><a href="#">购物流程</a></dd>
            <dd><a href="#">支付方式</a></dd>
            <dd><a href="#">通关税费</a></dd>
            <dd><a href="#">其他问题</a></dd>
        </dl>
        <dl>
        	<dt></dt>
            <dd><a href="#" class="title">关于配送</a></dd>
            <dd><a href="#">配送方式</a></dd>
            <dd><a href="#">配送流程</a></dd>
            <dd><a href="#">物流跟踪</a></dd>
        </dl>
        <dl>
        	<dt></dt>
            <dd><a href="#" class="title">售后服务</a></dd>
            <dd><a href="#">品质保证</a></dd>
            <dd><a href="#">回收条款</a></dd>
            <dd><a href="#">15天退货承诺</a></dd>
        </dl>
        <dl>
        	<dt></dt>
            <dd><a href="#" class="title">客服中心</a></dd>
            <dd><a href="#">退货政策</a></dd>
            <dd><a href="#">退货流程</a></dd>
            <dd><a href="#">退款说明</a></dd>
            <dd><a href="#">联系客服</a></dd>
        </dl>
        <dl class="last">
        	<dt></dt>
            <dd><a href="#" class="title">关于我们</a></dd>
            <dd><a href="#">权威认证</a></dd>
            <dd><a href="#">招聘信息</a></dd>
            <dd><a href="#">联系我们</a></dd>
        </dl>
    </div>
    <div class="clear"></div>
    <div id="bottom">
    	
        <div class="footnav">
        	  <a href="#">关于建诺网</a><span>|</span>
            
              <a href="#">服务条款</a><span>|</span>
              <a href="#">广告服务</a><span>|</span>
              <a href="#">企业招聘</a><span>|</span>
              <a href="#">客服中心</a><span>|</span>
    		  <a href="#">网站导航</a>
              <p>Copyright © 1998 - 2010 legou.com. All Rights Reserved</p>
              <p>建诺网版权所有</p>
        </div>
    </div>
</div>
<!--QQ滚动广告-->
<div id="buttonFloat">
  
  <a href="#" title="返回主页" class="back"><i class="iconback"></i><samp>主页</samp></a>
  <a href="javascript:window.external.addFavorite('http://www.yousite.com/','站点名称');" title="收藏本站" class="Collection"><i class="iconcoll"></i><samp>收藏</samp></a>
   <a href="shoppingCart.html" title="购物车" class="cash"><i class="iconshopping"></i><samp>购物车</samp><span class="num">29</span></a>
  <a target="_blank" href="http://amos.im.alisoft.com/msg.aw?v=2&uid=51add&site=cntaobao&s=2&charset=utf-8" class="kefu" ><i class="iconkefu"></i><samp>客服</samp></a>
  <a href="#top" title="返回头部" class="toTop"><i class="up"></i><samp>TOP</samp></a>
</div>
<script type="text/javascript">
/*** 滚动公告js ***/
$(function(){
    //单行应用
    var _wrap=$('ul.sales');//定义滚动区域
    var _interval=2000;//定义滚动间隙时间
    var _moving;//需要清除的动画
    _wrap.hover(function(){
        clearInterval(_moving);//当鼠标在滚动区域中时,停止滚动
    },function(){
        _moving=setInterval(function(){
            var _field=_wrap.find('li:first');//此变量不可放置于函数起始处,li:first取值是变化的
            var _h=_field.height();//取得每次滚动高度
            _field.animate({marginTop:-_h+'px'},600,function(){//通过取负margin值,隐藏第一行
                _field.css('marginTop',0).appendTo(_wrap);//隐藏后,将该行的margin值置零,并插入到最后,实现无缝滚动
            })
        },_interval)//滚动间隔时间取决于_interval
    }).trigger('mouseleave');//函数载入时,模拟执行mouseleave,即自动滚动
});
</script>
<script type="text/javascript">
//<![CDATA[
var tips; var theTop = 70/*这是默认高度,越大越往下*/; var old = theTop;
function initFloatTips() {
  tips = document.getElementById('buttonFloat');
  moveTips();
};
function moveTips() {
  var tt=50;
  if (window.innerHeight) {
    pos = window.pageYOffset
  }
  else if (document.documentElement && document.documentElement.scrollTop) {
    pos = document.documentElement.scrollTop
  }
  else if (document.body) {
    pos = document.body.scrollTop;
  } 
  pos=pos-tips.offsetTop+theTop;
  pos=tips.offsetTop+pos/10;
 
  if (pos < theTop) pos = theTop;
  if (pos != old) {
    tips.style.top = pos+"px";
    tt=10;
  //alert(tips.style.top);
  }
 
  old = pos;
  setTimeout(moveTips,tt);
}
//!]]>
initFloatTips();
</script>


</body>
</html>
