<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>建诺商城</title>
<meta name="keywords" content="建诺商城，建诺，网购，购物" />
<meta name="description" content="建诺商城，中国进口网购网站" />
<meta content="all" name="robots" />
<meta name="googlebot" content="all" />
<meta name="baiduspider" content="all" />
<link href="../static/css/global.css" rel="stylesheet" type="text/css" />
<link href="../static/css/shopping.css" rel="stylesheet" type="text/css" />
<link href="../static/layui/css/layui.css" rel="stylesheet" type="text/css" />
<script src="../static/js/jquery.min.js" type="text/javascript"><!--公共jQ框架，01滚动公共--></script>
<script src="../static/js/scrollTop.js" type="text/javascript"></script>
<script language=JavaScript type="text/javascript" src="../static/layui/layui.all.js "></script>


</head>
<!--[if lte IE 6]>
<style type="text/css">
body { behavior:url("css/csshover.htc"); }
</style>
<![endif]-->
<body>

<!-- 头部栏开始--> 
<div id="top">
	<div class="header">
    	<p class="fl">欢迎来到建诺商城！  <a href="personalCenter.html">159***6694</a> <span>&nbsp;|&nbsp;</span> <a href="#"><strong>退出</strong></a></p> 
      <div class="topmenu fr">
            <ul class="menu">
                <li style="background:none;position:relative; z-index:10;"> 
                	<a href="#" class="arrow">我的账户</a>
                    <ul class="top_submenu">
                            <li><a href="#">订单中心</a></li>
                            <li><a href="#">物流跟踪</a></li>
                            <li><a href="#">我的优惠券</a></li>
                    </ul>
               </li>
               <li class="phone"><a href="#">服务专线：</a><font style="font-family:Arial; color:#c60000;"><strong>400-888-1991</strong></font></li>                          
            </ul> 
   	  </div>
  </div>
</div>
<div class="clear"></div>

<!--logo栏开始-->
<div id="logobar">
	<h1 class="fl"><img src="../static/images/logo.png" alt="" /></h1>
    <div class="searchcolumn fl">
    	
         <form>
              <input name="text" type="text" class="search_center fl" onfocus="if(this.value=='请输入要搜索的商品'){this.value=''}" onblur="if(this.value==''){this.value='请输入要搜索的商品'}" value="请输入要搜索的商品"/>
              <input name="" type="button" class="search_right fl" value="搜索" />
         </form>
    </div>
    
	 
</div>

<!--内容区栏开始-->
<div class="shoppingbox" style="min-height: 1500PX;">
    <div class="mycart">
         <ul>
            <li class="fl" style="text-align: left; font-size: 14px; color: #000;">我的购物车 <b>2件</b></li>
            <li><samp>建诺商城商品满88包邮，<a class="oncebuy">再购16.00元包邮</a>  <a>去凑单>></a></samp>配送至<select><option>浙江 / 华 / 义乌</option></select></li>
        </ul>
    </div>
    <div class="clear"></div>
    <div class="m-cartbox">
            <div class="head f-cb">
                  <div class="col col1"><input type="checkbox" class="u-chk" name="selectAll" id="selectAll"><label for="selectAll" class="lab">全选</label> </div>
                  <div class="col col2">商品信息</div>
                  <div class="col col3">单价(元)</div>
                  <div class="col col4">数量</div>
                  <div class="col col5">金额(元)</div>
                  <div class="col col6">操作</div>
            </div>
    </div>
    <div class="m-cart  ">
          <div class="ware">
                <input type="checkbox" class="u-chk" name="cartAll" >
                <b class="u-cartlabel">自营</b>
                <strong class="warename">自营国内仓</strong>
          </div>
 
          <div class="goods">
               <ul class="m-goods">
                    <li data-err="0" class="gooditm z-selected">
                      <div class="col col0">
                          <input type="checkbox" class="u-chk" name="selectGood" checked="checked">
                      </div>
                      <div class="col col2">
                        <a href="/product/1563965.html" target="_blank" class="imgwrap">
                          <img src="../static/images/3.jpg" width="80">
                        </a>
                        <div class="txtwrap">
                          <h3 class="goodtlt">
                            <a href="/product/1563965.html" target="_blank" title="Swisse 蔓越莓泡腾片（固体饮料） 60片/瓶">
                              Swisse 蔓越莓泡腾片（固体饮料） 60片/瓶
                            </a>
                          </h3>
                            <p class="returninfo f-toe" title="支持7天无忧退货">
                              <img src="../static/images/seven.png" class="returnimg">
                              <span class="">支持7天无忧退货</span>
                            </p>
                          
                          <div class="goodtax f-vama">
                          </div>
                        </div>
                      </div>
                      <div class="col col3">
                          <del class="oldprice">399.00</del>
                          <div class="newprice">
                              <span>169.00</span>
                              <!--Regular if45-->
                          </div>
                      </div>
                      <div class="col col4">
                          <span class="u-setcount">
                            <span class="minus z-dis">-</span>
                                <input type="text" class="ipt" min="1" autocomplete="off" name="tempBuyAmount" data-value="1" max="99">
                            <span class="plus">+</span>
                          </span>
                         <p class="limitmsg"></p>
                          
                        
                      </div>
                      <div class="col col5">
                          <span class="sum sumrow">169.00</span>
                      </div>
                      <div class="col col6">
                        <a class="u-opt">删除</a>
                        <span class="u-opt">移入我的收藏</span>
                    
                      </div>
                   
                    </li>
                   
               </ul>
                <div class="cartinfo">
                  <span class="discount">活动优惠：-￥0.00</span>
                  <div class="allsum">
                    <span>商品应付总计：<em class="totalnum ">￥169.00</em></span>
                    <!--Regular if59--><!--Regular if60-->
                  </div>
                  <!--Regular if61-->
                  <div class="taxbox">
                    <span class="j-taxnum"><em class="tt">预估税费：</em>￥0.00</span>
                    <!--Regular if62--><!--Regular if63-->
                  </div>
                  
                </div>
          </div>
   </div>
    <div class="m-cart  ">
          <div class="ware">
                <input type="checkbox" class="u-chk" name="cartAll">
                <b class="u-cartlabel">自营</b>
                <strong class="warename">自营保税仓</strong>
          </div>
 
          <div class="goods">
               <ul class="m-goods">
                    <li data-err="0" class="gooditm z-selected">
                      <div class="col col0">
                          <input type="checkbox" class="u-chk" name="selectGood" checked="checked">
                      </div>
                      <div class="col col2">
                        <a href="/product/1563965.html" target="_blank" class="imgwrap">
                          <img src="../static/images/3.jpg" width="80">
                        </a>
                        <div class="txtwrap">
                          <h3 class="goodtlt">
                            <a href="/product/1563965.html" target="_blank" title="Gerber 嘉宝 切达奶酪泡芙条 42克">
                              Gerber 嘉宝 切达奶酪泡芙条 42克
                            </a>
                          </h3>
                            <p class="returninfo f-toe" title="不支持7天无忧退货">
                              <img src="../static/images/seven2.png" class="returnimg">
                              <span class="">不支持7天无忧退货</span>
                            </p>
                          
                          <div class="goodtax f-vama">
                             <p>
                              <span class="m-actlabel " id="auto-id-1508466202009">
                                <em>包税 <i class="icon-arrow-down"></i></em>
                                <span class="layer" style="margin-left: -71.5px;"><span>商品已包税，无需再额外缴纳</span></span> 
                              </span>
                              </p>
                         </div>
                        </div>
                      </div>
                      <div class="col col3">
                          <del class="oldprice">399.00</del>
                          <div class="newprice">
                              <span>169.00</span>
                              <!--Regular if45-->
                          </div>
                      </div>
                      <div class="col col4">
                          <span class="u-setcount">
                            <span class="minus z-dis">-</span>
                                <input type="text" class="ipt" min="1" autocomplete="off" name="tempBuyAmount" data-value="1" max="99">
                            <span class="plus">+</span>
                          </span>
                         <p class="limitmsg"></p>
                          
                        
                      </div>
                      <div class="col col5">
                          <span class="sum sumrow">169.00</span>
                          <p class="taxrow f-vama" id="shuifei">
                            <span class="u-taxval z-sel">预估税费:￥0 
                              <span class="poptax">
                                <a>税费 = 购买单价 * 件数 * 税负率</a>
                                实际结算税费请以提交订单时的税费明细为准
                              </span>
                            </span>
                            <!--Regular if1924-->
                            <b class="rmk f-toe">（商品已包税）</b>
                            
                          </p>
                      </div>
                      <div class="col col6">
                        <a class="u-opt">删除</a>
                        <span class="u-opt">移入我的收藏</span>
                    
                      </div>
                   
                    </li>
                   

                    <li data-err="0" class="gooditm z-selected">
                      <div class="col col0">
                          <input type="checkbox" class="u-chk" name="selectGood" checked="checked">
                      </div>
                      <div class="col col2">
                        <a href="/product/1563965.html" target="_blank" class="imgwrap">
                          <img src="../static/images/3.jpg" width="80">
                        </a>
                        <div class="txtwrap">
                          <h3 class="goodtlt">
                            <a href="/product/1563965.html" target="_blank" title="Gerber 嘉宝 切达奶酪泡芙条 42克">
                              Gerber 嘉宝 切达奶酪泡芙条 42克
                            </a>
                          </h3>
                            <p class="returninfo f-toe" title="不支持7天无忧退货">
                              <img src="../static/images/seven2.png" class="returnimg">
                              <span class="">不支持7天无忧退货</span>
                            </p>
                          
                          <div class="goodtax f-vama">
                             <p>
                              <span class="m-actlabel " id="auto-id-1508466202009">
                                <em>包税 <i class="icon-arrow-down"></i></em>
                              <span class="layer" style="margin-left: -71.5px;"><span>商品已包税，无需再额外缴纳</span></span> 
                              </span>
                              </p>
                         </div>
                        </div>
                      </div>
                      <div class="col col3">
                          <del class="oldprice">399.00</del>
                          <div class="newprice">
                              <span>169.00</span>
                              <!--Regular if45-->
                          </div>
                      </div>
                      <div class="col col4">
                          <span class="u-setcount">
                            <span class="minus z-dis">-</span>
                                <input type="text" class="ipt" min="1" autocomplete="off" name="tempBuyAmount" data-value="1" max="99">
                            <span class="plus">+</span>
                          </span>
                         <p class="limitmsg"></p>
                          
                        
                      </div>
                      <div class="col col5">
                          <span class="sum sumrow">169.00</span>
                          <p class="taxrow f-vama" id="shuifei">
                           <span class="u-taxval z-sel">预估税费:￥0 
                            <span class="poptax">
                                <a>税费 = 购买单价 * 件数 * 税负率</a>
                                实际结算税费请以提交订单时的税费明细为准
                            </span>
                           </span>
                            <!--Regular if1924-->
                            <b class="rmk f-toe">（商品已包税）</b>
                            
                          </p>
                      </div>
                      <div class="col col6">
                        <a class="u-opt">删除</a>
                        <span class="u-opt">移入我的收藏</span>
                    
                      </div>
                   
                    </li>
               </ul>
                <div class="cartinfo">
                  <span class="discount">活动优惠：-￥0.00</span>
                  <div class="allsum">
                    <span>商品应付总计：<em class="totalnum ">￥169.00</em></span>
                    <!--Regular if59--><!--Regular if60-->
                  </div>
                  <!--Regular if61-->
                  <div class="taxbox">
                    <span class="j-taxnum"><em class="tt">预估税费：</em>￥0.00</span>
                    <!--Regular if62--><!--Regular if63-->
                  </div>
                  
                </div>
          </div>

          <div class="totalbox">
              <div id="point"></div>
              <div class="m-total f-cb" id="totalbar" style="position: relative;">
                <!--Regular if164-->
                <div class="ttbar">
                  <div class="lt">
                    <input type="checkbox" name="selectAll" id="selectAll" class="u-chk"><label for="selectAll" class="lab">全选</label><b class="opt">删除选中商品</b><!--Regular if165-->
                  </div>
                  <div class="rt">
                    <p class="allgoods">已选商品 <em class="num">2</em> 件 <span class="itm">总价(不含运费)：<em class="num">￥72.00</em></span></p>
                    <p class="allmoney">活动优惠：-￥0.00<span class="itm">商品应付总计：￥72.00</span><span class="itm">商品税费（不含运费税）：￥0.00</span></p>
                    <a class="gobuy " href="payMoney.html">去结算</a>
                  </div>
                </div>
              </div>
    </div>

    <div class="bestMatch">
        <h2>最佳搭配<span>根据你的购物车商品推荐</span></h2>
        <ul class="match-ul">
            <li>
                 <img src="../static/images/1.jpg" width="160" height="157" />
                 <p class="proname"><a href="#">印尼进口丽芝士nabati纳宝帝奶酪威化饼干200g零食</a></p>
                 <p class="price">热卖价:<strong>¥69.00</strong><s>¥89.00</s></p>
            </li>
             <li>
                 <img src="../static/images/2.jpg" width="160" height="157" />
                 <p class="proname"><a href="#">印尼进口丽芝士nabati纳宝帝奶酪威化饼干200g零食</a></p>
                 <p class="price">热卖价:<strong>¥69.00</strong><s>¥89.00</s></p>
            </li>
             <li>
                 <img src="../static/images/3.jpg" width="160" height="157" />
                 <p class="proname"><a href="#">印尼进口丽芝士nabati纳宝帝奶酪威化饼干200g零食</a></p>
                 <p class="price">热卖价:<strong>¥69.00</strong><s>¥89.00</s></p>
            </li>
             <li>
                 <img src="../static/images/4.jpg" width="160" height="157" />
                 <p class="proname"><a href="#">印尼进口丽芝士nabati纳宝帝奶酪威化饼干200g零食</a></p>
                 <p class="price">热卖价:<strong>¥69.00</strong><s>¥89.00</s></p>
            </li>
             <li>
                 <img src="../static/images/5.jpg" width="160" height="157" />
                 <p class="proname"><a href="#">印尼进口丽芝士nabati纳宝帝奶酪威化饼干200g零食</a></p>
                 <p class="price">热卖价:<strong>¥69.00</strong><s>¥89.00</s></p>
            </li>
        </ul>
    </div> 
     <div class="clear"></div>
    <div class="bestMatch">
        <h2>猜你喜欢<span>根据你的浏览记录推荐的商品</span></h2>
        <ul class="match-ul">
            <li>
                 <img src="../static/images/1.jpg" width="160" height="157" />
                 <p class="proname"><a href="#">印尼进口丽芝士nabati纳宝帝奶酪威化饼干200g零食</a></p>
                 <p class="price">热卖价:<strong>¥69.00</strong><s>¥89.00</s></p>
            </li>
             <li>
                 <img src="../static/images/2.jpg" width="160" height="157" />
                 <p class="proname"><a href="#">印尼进口丽芝士nabati纳宝帝奶酪威化饼干200g零食</a></p>
                 <p class="price">热卖价:<strong>¥69.00</strong><s>¥89.00</s></p>
            </li>
             <li>
                 <img src="../static/images/3.jpg" width="160" height="157" />
                 <p class="proname"><a href="#">印尼进口丽芝士nabati纳宝帝奶酪威化饼干200g零食</a></p>
                 <p class="price">热卖价:<strong>¥69.00</strong><s>¥89.00</s></p>
            </li>
             <li>
                 <img src="../static/images/4.jpg" width="160" height="157" />
                 <p class="proname"><a href="#">印尼进口丽芝士nabati纳宝帝奶酪威化饼干200g零食</a></p>
                 <p class="price">热卖价:<strong>¥69.00</strong><s>¥89.00</s></p>
            </li>
             <li>
                 <img src="../static/images/5.jpg" width="160" height="157" />
                 <p class="proname"><a href="#">印尼进口丽芝士nabati纳宝帝奶酪威化饼干200g零食</a></p>
                 <p class="price">热卖价:<strong>¥69.00</strong><s>¥89.00</s></p>
            </li>
        </ul>
    </div>
    <div class="clear"></div>
    <div class="bestMatch">
        <h2>大家都在买<span>全网最热门的商品推荐</span></h2>
        <ul class="match-ul">
            <li>
                 <img src="../static/images/1.jpg" width="160" height="157" />
                 <p class="proname"><a href="#">印尼进口丽芝士nabati纳宝帝奶酪威化饼干200g零食</a></p>
                 <p class="price">热卖价:<strong>¥69.00</strong><s>¥89.00</s></p>
            </li>
             <li>
                 <img src="../static/images/2.jpg" width="160" height="157" />
                 <p class="proname"><a href="#">印尼进口丽芝士nabati纳宝帝奶酪威化饼干200g零食</a></p>
                 <p class="price">热卖价:<strong>¥69.00</strong><s>¥89.00</s></p>
            </li>
             <li>
                 <img src="../static/images/3.jpg" width="160" height="157" />
                 <p class="proname"><a href="#">印尼进口丽芝士nabati纳宝帝奶酪威化饼干200g零食</a></p>
                 <p class="price">热卖价:<strong>¥69.00</strong><s>¥89.00</s></p>
            </li>
             <li>
                 <img src="../static/images/4.jpg" width="160" height="157" />
                 <p class="proname"><a href="#">印尼进口丽芝士nabati纳宝帝奶酪威化饼干200g零食</a></p>
                 <p class="price">热卖价:<strong>¥69.00</strong><s>¥89.00</s></p>
            </li>
             <li>
                 <img src="../static/images/5.jpg" width="160" height="157" />
                 <p class="proname"><a href="#">印尼进口丽芝士nabati纳宝帝奶酪威化饼干200g零食</a></p>
                 <p class="price">热卖价:<strong>¥69.00</strong><s>¥89.00</s></p>
            </li>
        </ul>
    </div>
   </div>
</div>
<div class="clear"></div>
<!--底部开始-->
<div class="footer">
 
    <div id="bottom">
    	
        <div class="footnav">
        	  <a href="#">关于建诺网</a><span>|</span>
            
              <a href="#">服务条款</a><span>|</span>
              <a href="#">广告服务</a><span>|</span>
              <a href="#">企业招聘</a><span>|</span>
              <a href="#">客服中心</a><span>|</span>
    		  <a href="#">网站导航</a>
              <p>Copyright © 1998 - 2010 legou.com. All Rights Reserved</p>
              <p>建诺网版权所有</p>
        </div>
    </div>
</div>


<div id="tbox">
<a id="gotop" href="javascript:void(0)"></a>
</div>

<script type="text/javascript">
    $("#selectAll").click(function(){
         $("input:checkbox").attr("checked","checked");
     });
    $(".m-actlabel").mouseenter(function(){
        $(".layer").show();
        $(".m-actlabel .icon-arrow-down").attr("class",'icon-arrow-up');
        $(this).css({'background':'#c00','color':'#fff'})
    });
    $(".m-actlabel").bind('mouseleave',function(){
        $(".layer").hide();
        $(".m-actlabel .icon-arrow-up").attr("class",'icon-arrow-down');
        $(this).css({'background':'#fff','color':'#c00'})
    })
    $(".u-taxval").mouseenter(function(){
        $(".poptax").show();
    })
    $(".u-taxval").bind('mouseleave',function(){
       $(".poptax").hide();
    })
</script>
</body>
</html>
