@charset "utf-8";
/* CSS Document */


body,input,p,ul,li,dl,dd,dt,h1,h2,h3,h4,h5,h6,a,font,img,span {margin:0; padding:0;}
ul,li {list-style:none;}
body {font:12px/18px, Arial,"宋体"; color:#666; background:url(../images/bg_header.png) repeat-x 0 -185px;}
img {border:0;}
.clear {clear:both;}
.fl {float:left;}
.fr {float:right;}
.rel {position:relative;}
address, caption, cite, code, dfn, em, th, var, i, b {
    font-style: normal;
}

.clearfix{ zoom: 1}
.clearfix:after { display:block; height:0px; visibility:hidden; clear:both; overflow:hidden; CONTENT: "."}
.dis {display:none;}
a {color:#737373; text-decoration:none;}
a:hover {color:#e90000; text-decoration:none;}

.publictitle{ height:32px; border-bottom:2px solid #c00;}
.publictitle h2{background:url(../images/new.png) no-repeat; width:137px; height:22px; display:block; font-size:16px; color:#000; text-indent:35px; float:left; padding-top:5px;}
.publictitle span, .drinktitle span, .oiltitle span, .foodstitle span, .cleartitle span {float:right; font-size:12px; height:21px; padding:8px 5px 0 0;}
.publictitle span a, .drinktitle span a, .drinktitle span a, .oiltitle span a, .foodstitle span a{margin:0 5px; color:#535353;}
.publictitle span a:hover, .drinktitle span a:hover, .oiltitle span a:hover, .foodstitle span a:hover {color:#e90000;}

.drinktitle h2 {background:url(../images/drinkicon.png) no-repeat; width:137px; height:29px; display:block; font-size:16px; color:#000; text-indent:35px; float:left; padding-top:5px;}
.oiltitle h2 {background:url(../images/oilicon.png) no-repeat; width:137px; height:29px; display:block; font-size:16px; color:#000; text-indent:35px; float:left; padding-top:5px;}
.foodstitle h2 {background:url(../images/foodicon.png) no-repeat; width:137px; height:29px; display:block; font-size:16px; color:#000; text-indent:35px; float:left; padding-top:5px;}
.cleartitle h2 {background:url(../images/clearicon.png) no-repeat; width:137px; height:29px; display:block; font-size:16px; color:#000; text-indent:35px; float:left; padding-top:5px;}

.drinktitle{ height:32px; border-bottom:2px solid #f6b342;}
.oiltitle{ height:32px; border-bottom:2px solid #f56363;}
.foodstitle{ height:32px; border-bottom:2px solid #369df1;}
.cleartitle{ height:32px; border-bottom:2px solid #c8c8e8;}
.current {width:1200px; height:38px; line-height:38px; margin:0 auto; color:#4e4e4e; font-size:12px;}
.current a {color:#004e91;}
.prolist {width:1200px; margin:0 auto;}
/* 头部栏开始 */

#top {height:30px; background: #f2f2f2;}
.header {width:1200px; height:30px; line-height:30px; margin:0 auto; color:#737373; font-size:12px;}
.header p a {color:#d54600;}
.header p span {color:#b7b7b7;}
.topmenu {width:auto; height:25px;}
.topmenu .menu {}
.topmenu .menu li {float:left; width:78px; display:block; text-align:center; background:url(../images/bg_header.png) no-repeat 0 -136px; line-height:12px; padding-top:7px;}
.topmenu .menu li.phone{ width:160px;}

.topmenu .menu li:hover .top_submenu {display:block;}
.topmenu .menu li a {color:#737373;}
.topmenu .menu li a.arrow { background:url(../images/bg_header.png) no-repeat 66px -116px; display:block; }
.topmenu .menu li:hover a.arrow {background:url(../images/icon_hover.gif) no-repeat 66px 4px;}
.topmenu .menu li a:hover {color:#e90000;}
.clear {clear:both;}

.menu li .top_submenu {width:78px; background:#fff; border:1px solid #d3d3d3; position:absolute; top:0px; left:0px; padding:25px 0 7px 0; z-index:-5;display:none;}
.menu li .top_submenu li {display:block; color:#3b3b3b; background:none;}
.menu li .top_submenu li a {color:#3b3b3b;}
/* logo栏开始 */
#logobar {width:1200px; height:100px; margin:0 auto;}
#logobar h1 {display:block; margin:24px 20px 0 0;}

/* menu栏开始 */
.nav {text-align:center; margin:5px 0 0 5px; height:26px; line-height:26px; font-size:12px;}
.nav li {width:71px; height:26px; float:left; display:block; position:relative; background:url(../images/bg_header.png) no-repeat -71px -86px; display:block; margin-right:1px; z-index:888;}
.nav li:hover {background:url(../images/bg_header.png) no-repeat 0 -86px; cursor:pointer;}
.nav li a {color:#484848; height:26px;}
.nav li a:hover {color:#484848;}
.nav li:hover .nav_submenu {display:block;}

.nav li .nav_submenu {width:220px; background:#fff url(../images/line.jpg) no-repeat -31px 0; position:absolute; top:26px; left:0; border:1px solid #99cbe6; border-top:none; display:none; padding:8px 0 5px 0;}
.nav li .nav_submenu li { width:200px; display:block; clear:both; text-align:left; background:none; text-indent:11px;}
.nav li .nav_submenu li a { color:#818080;}
.nav li .nav_submenu li a:hover {color:#003366; text-decoration:underline;}

.shopping {width:270px; height:26px; margin-top:30px; position:relative;}
.shopping span { width:66px; height:19px; background:url(../images/bg_header.png) no-repeat 0 -23px; position:absolute; top:2px; left:5px;}
.shopping .sales {padding:4px 8px 0 0; font-size:12px; height:14px; overflow:hidden;}
.shopping .sales li a {color:#484848;}
.shopping .sales li a:hover {color:#e90000;}
/* search栏开始 */
.searchcolumn{ margin:25px 0 0 100px;}
.search_center {width:347px; height:36px; line-height:36px; border:2px solid #c00; border-right: none; color:#818080; outline: none; border-radius:4px 0 0 4px; font-size:14px; box-sizing:border-box; padding-left:5px;}
.search_right {width:104px; height:36px; background:#c00; color: #fff; border:0;border-radius: 0 4px 4px 0; cursor: pointer;}
.search_right:hover{ background: #b90202;}
/*menu栏*/
#searchbar {height:40px; background:#c00;}
.mennubox{ width:1200px; margin:0 auto;}
.leftmenu{width: 77%; margin-left: 3% } 
.leftmenu ul{ width: 100%; line-height: 40px;}
.leftmenu ul li{width:100px; text-align: center; float: left; display: inline-block; font-size: 16px; background: url(../images/menuline.jpg) no-repeat 0 14px;}
.leftmenu ul li:first-child{ background:none;}
.leftmenu ul li a{ color: #fff; text-decoration: none; cursor: pointer;}
.leftmenu ul li:hover{ background: #b70101; cursor: pointer;}



.chash {width:230px; height:29px; line-height:29px; margin-top:5px; background:url(../images/bg_nav.png) no-repeat -201px -76px; display:block; position:relative; }
.chash li {color:#111; font-size:12px; width:70px; height:26px; display:block; float:left; padding-left:43px; position:relative; cursor:pointer; z-index:20;}
.chash li a { color:#fff;}

.chash li:hover .car {display:block;}
.chash li .car {width:290px; height:31px; line-height:33px; background:#fffae0; position:absolute; top:26px; left:-72px; border:2px solid #cc0000; display:none; cursor:pointer;}
.chash li .car li {float:left; white-space:nowrap; padding-left:19px; color:#8e6f55;}
/* 底部栏开始 */
.footer{ width: 100%; border-top: 1px solid #ececec; margin-top: 14px;}
.service {width:1200px; height:131px; margin:16px  auto 0 auto; background:#fff; }
.service .bottomtop{ width: 1200px; margin: 0 auto; height: 100px; clear: both; border-bottom: 1px solid #ececec;}
.service .bottomtop dl{ width: 19%; text-align: center; border: none; margin-left: 70px;}
.service .bottomtop dl dd a.title {color:#000;font-size: 18px;}
.service .bottomtop dl dd{ font-size: 14px; text-align: left;}



.global {width:190px; float:left;}
.service p {color:#d60000; font-size:14px; margin:32px auto 5px 27px;}
.service span {color:#999; font-size:12px; padding-left:45px; padding-top:15px;}
.consult { margin:13px 0 0 34px;}

.service dl { width:149px; float:left; color:#5b5b5b; font-size:14px; margin:18px 0 0 8px; line-height:23px; display:block; position:relative; border-left: 1px solid #ececec;}
.service dt {float:left; height:70px; }
.service dd { padding-left:58px; font-size: 12px;}

.service dd.last {width:140px;}
.service a.title {color:#000;font-size: 16px;}

/*.bottom {width:980px; height:103px; margin:30px auto 0 auto; font-size:12px;}
.bottom p {margin:0px auto 0 auto;text-align:center; line-height:20px;}
.bottom .footnav { margin:0 auto; padding:10px 0 0 50px; display:block; width:570px;}
.bottom .footnav li {float:left;  display:block;}
.bottom .footnav li a {color:#1d4665;}
.bottom .footnav li a:hover {color:#e90000;}
.bottom .footnav li span { margin:0 8px; color:#1d4665;}*/

#bottom { height:73px; width:980px; margin:30px auto 0 auto; font-size:12px;}

.footnav {height:46px;color:#7e7e7e; text-align:center;}
.footnav a:hover {color:#e90000;}
.footnav p {color:#7e7e7e; font-family:arial; line-height:18px;}
.footnav span {padding:0 5px; color:#1d4665;}
.footnav a {color:#1d4665; font-size: 14px;}
/*浮动窗口*/

#buttonFloat{Z-INDEX:20;VISIBILITY:visible;POSITION:absolute;TOP:25%;right:0%; width:58px; background: #fff; border:1px solid #ececec; border-radius: 4px;}
#buttonFloat a{ width: 58px; height: 50px; text-align: center; line-height: 50px; display: block; font-size: 12px;border-bottom:1px solid #ececec; position: relative; }
#buttonFloat a.toTop{ background: #999; color: #fff; border:none;height: 38px; line-height: 38px;}

#buttonFloat a.toTop:hover{ background: #aaaaaa;}
#buttonFloat a i{ display: inline-block; margin:9px 0 2px 0;}
#buttonFloat a i.iconback{ width:16px; height: 16px;  background: url(../images/home.png) no-repeat;}
#buttonFloat a i.iconcoll{ width:16px; height: 16px;  background: url(../images/shoucang.png) no-repeat;}
#buttonFloat a i.iconshopping{ width:16px; height: 16px;  background: url(../images/shopping.png) no-repeat;}
#buttonFloat a i.iconkefu{ width:16px; height: 17px;  background: url(../images/kefu.png) no-repeat;}
#buttonFloat a i.up{ width:16px; height: 14px;  background: url(../images/uparrow.png) no-repeat; margin: 5px 0 0 0;}


#buttonFloat a:hover i.iconback{ background: url(../images/homehover.png) no-repeat;}
#buttonFloat a:hover i.iconcoll{ background: url(../images/shoucanghover.png) no-repeat;}
#buttonFloat a:hover i.iconkefu{ background: url(../images/kefuhover.png) no-repeat;}
#buttonFloat a:hover i.iconshopping{ background: url(../images/cashhover.png) no-repeat; }


#buttonFloat a span{ position: absolute; right: 5px; top: 5px; padding:9px 3px; font-family: arial; vertical-align: middle; line-height: 1px; border-radius: 50%; background: #c00; color: #fff; font-size: 10px; }
#buttonFloat samp{ display: block; line-height: 20px;}
#buttonFloat img{ display: inline-block;margin-top: 10px;}



#tbox{width:47px; height:73px; float:right; position:fixed;
_position:absolute;
_bottom:auto;
_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));
_margin-bottom:10px;
}/*解决IE6下不兼容 position:fixed 的问题*/
#gotop{ width:47px; height:47px; background:url (../images/top01.png) no-repeat; position:absolute; top:0px; display:none; cursor:pointer} 
#gotop:hover{ background:url(../images/top02.png) no-repeat;}






.bestMatch{ width: 1200px; margin: 15px auto;}
.bestMatch h2{ width: 100%; line-height: 32px; border-bottom: 1px solid #eaeaea; font-size: 18px; color: #000;}
.bestMatch h2 span{ color:#999; font-size: 14px; margin-left: 10px;}
.match-ul{ margin-top: 10px; }
.match-ul li{ width: 16.6%; float: left; display: inline-block; border:1px solid #eaeaea;padding: 15px; margin-right: 10px; text-align: center; }
.match-ul li:hover{ background: #ececec;}
.match-ul li p{ text-align: left;}
.match-ul li:last-child{ margin-right: 0;}
.match-ul li .price{ margin-top: 5px;}
.match-ul li strong{ color: #c00; margin-right: 10px; font-size: 16px;}
.match-ul li s{ color: #999; font-size: 14px;}
