

.personerBox{ width: 1200px; margin: 14px auto;}
.leftsidebar{ width: 18%; height: auto; float: left; margin-right: 15px;}
.leftsidebar h2{font-size: 18px;padding-left: 20px; color: #ff0101; border-bottom: 1px solid #ececec; line-height: 40px;}
.leftsidebar ul { border-bottom: 1px solid #ececec; padding: 10px 0;}
.leftsidebar ul li{ font-size: 14px; line-height:18px; padding: 0px 0 0px 20px; margin: 8px 0;}
.leftsidebar ul li a{ cursor: pointer;}
.leftsidebar ul li.active{ font-weight: bold; border-left: 2px solid #ff0101;}
.leftsidebar ul li.active a{ color: #ff0101;}
.rightcontent{ width: 80.7%; height: auto;  float: left;}


.orderlist {width: 100%; height:32px; line-height: 32px; border-bottom: 1px solid #ececec; }

.orderlist a {padding:0px 22px; background: url(../images/line-short.png) no-repeat 0 10px; font-size:16px; display:block; float:left; color:#333; font-weight:bold;}
.orderlist a samp{ color: #c00;}
.orderlist a.reback{ font-size: 13px; float: right; background: url(../images/trash.png) no-repeat 5px 9px;}
.orderlist a:last-child{ border-right: none;}
.orderlist a:last-child.hover1{border-right:1px solid #d6d6d6;}
.orderlist a.hover1 {background:#fff; cursor: pointer; color:#e90000; height: 31px; line-height: 28px; border-bottom: 2px solid #ff0101; box-sizing:content-box;}
.orderlist a:hover{ cursor: pointer;}
.none{ display: none;}



.searchorder{ width: 100%; height: 26px; line-height: 26px;  margin: 15px 0;}
.leftinput{ width: 220px;  line-height: 26px;  float: left;border:1px solid #eaeaea; padding-left: 5px; border-radius:4px 0 0 4px; font-size: 12px;}
.rightbutton{ width: 80px; line-height: 26px; float: left;border:1px solid #eaeaea; background: #f5f5f5; border-left: none; cursor: pointer; border-radius:0px 4px 4px 0;}
.rightbutton:hover{ background: #c00; color: #fff;}

.s-margin20right{ width:63%;height: 28px; float: right;}
.s-margin20right ul li{ width: 32.33%; float: left;}
.s-margin20right ul li input{ border:1px solid #eaeaea; width: 120px; height: 26px;line-height: 26px; padding-left: 5px;}
.s-margin20right ul li select{ border:1px solid #eaeaea; width: 120px; height: 26px;line-height: 26px;}

.persViewTit{ height: 50px; color: #333; font-size: 14px; background: #ededed;}
.persViewTit .h-text {
    float: left;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.persViewTit .h-goods {
    width: 325px;
    padding-left: 20px;
    text-align: left;
}
.h-price {
    width: 70px;
}
.h-amount {
    width: 48px;
}
.h-total {
    width: 130px;
}
.h-gOperate {
    width: 95px;
}
.h-status {
    width: 130px;
}
.h-operate {
    width: 150px;
}
.persViewCon{width: 100%; margin-bottom: 15px;}

.myOdr_tb1 .oInfo {
    height: 40px;
    color: #999;
}
.myOdr_tb1 th {
    border: 1px solid #e8e8e8;
    text-align: left;
    font-weight: normal;
}
.oInfo span {
    display: inline-block;
    margin-right: 25px;
}

.oInfo i.icon-location{  margin-right: 3px;}

.oInfo span.delIcon{ float: right; cursor: pointer;}
.aOrder-items {
    border: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
}
.aImg img {
    padding: 20px 12px 20px 20px;
    width: 80px;
    height: 80px;
}
.myOdr_tb2 .goodsTitle {
    width: 220px;
    padding-right: 12px;
}
.myOdr_tb2 .price {
    width: 70px;
}
.myOdr_tb2 .amount {
    width: 48px;
}
.myOdr_tb2 .goodsOperate {
    width: 80px;
}
.myOdr_tb1 .rbBorder {
    border-right: 1px solid #e8e8e8; width: 130px;
    border-bottom: 1px solid #e8e8e8;
}
.myOdr_tb1 .aOrder .operate {
    padding: 0 8px;
}
.orderStatus a, .orderStatus strong {
    display: block;
}
.orderStatus a.now{ color: #ff0101;}
.btn-red30, .btn-gray30 {
    width: 80px;
    height: 30px; border-radius: 4px;
    line-height: 30px;
    font-size: 14px;
}

.aOrder .fb {
    font-weight: bold;
}
.aOrder .fee {
    font-size: 12px;
    color: #999;
}
.operate .confirmReceived, .operate .payNow, .operate .comment, .payed, .evaluate {
    display: block;
    color: #fff; background: #ff0101;
    text-decoration: none;
    outline: none;
    margin: 7px 0; cursor: pointer;
}
.payed{background: #049be9;}
.nopayed{color: #ff0101; cursor: pointer;}
.evaluate{ background: #f4f3f3; border:1px solid #eaeaea; color: #000;}


.pageturn{ width: 100%; height: 30px; text-align: right;}
.pageturn a{ padding: 8px 14px; border:1px solid #eaeaea; font-size: 14px; text-align: right; cursor: pointer;}
.pageturn a.active{ background: #eaeaea; border:1px solid #ddd;}
.pageturn a:hover{ background: #eaeaea;}


/*帐号管理*/
.accountcenter{ width: 100%;}
.accountcenter h2{ width: 100%; font-size: 16px; line-height: 30px; color: #000; border-bottom: 1px solid #eaeaea;}

.basicaccount{ width: 100%; padding: 5px 10px;}
/*.basicaccount h3{ width: 100%; font-size: 14px; font-weight: bold; margin-top: 10px;}*/
.basicaccount ul{ margin: 10px 0;}
.basicaccount ul li{ width: 100%; line-height: 40px; position:relative;}
.basicaccount ul li samp{ color: #69c; padding-left: 20px; cursor: pointer; font-size:12px; font-weight:bold;}
.basicaccount ul li label{ width: 100px; display: inline-block;}
.basicaccount ul li input[type='text']{ width: 240px; border:1px solid #eaeaea; height: 24px; line-height: 24px; padding-left: 5px;}
.basicaccount ul li input[type='radio']{ margin: 0 10px;}
.basicaccount ul li select{ width: 100px; border:1px solid #eaeaea; height: 24px; line-height: 24px; margin-right: 10px;}
.basicaccount ul li img{ width: 90px; border:3px solid #eaeaea;}
.editimg{ width:96px;text-align:center; display:block; background:rgba(0,0,0,0.5); height:28px; line-height:28px;display:none; position:absolute; left:100px; bottom:0;}
.editimg a{ color:#fff; cursor:pointer;}

.accounttitle{ width: 100%; border-bottom:1px solid #eaeaea;}
.accounttitle a{ font-size: 14px; line-height: 32px; padding:8px 20px; cursor:pointer;}
.accounttitle a.hover1{ font-size: 14px; color: #ff0101; font-weight: bold; border-bottom:2px solid #ff0101;}
.savebutton{ width:100%; margin:15px 0; border-top:1px dashed #eaeaea;}
.savebutton button{ background:#ff9200; color:#fff; border:1px solid #e16507; padding:3px 11px; border-radius:4px; margin:15px 0 0 100px; cursor:pointer;}

.box_a_con_b{ width:98%; padding:20px;}
.box_a_con_alist_img{ }
.box_a_con_alist_img img{ padding:10px;border:1px dashed #eaeaea;}
.box_a_con_alist_imgB input{background:#ff9200; color:#fff; border:1px solid #e16507; padding:3px 11px; border-radius:4px; margin:15px 0 0 50px; cursor:pointer;}
.box_a_con_alist_imgB .file{ display:none;}
